create procedure [dbo].[xsp_master_item_document_history_insert]
(	
	 @p_item_document_id int
    ,@p_item_code        nvarchar(50)
    ,@p_remarks         nvarchar(250)
	,@p_action			nvarchar(50)
    ,@p_file            nvarchar(250)
    ,@p_paths           nvarchar(250)
    ,@p_cre_by	        nvarchar(15)
    ,@p_cre_ip_address  nvarchar(15)
)
as
begin
    set nocount on;

   insert into dbo.master_item_document_history
    (
		item_document_id,
        item_code,
        remarks,
		[action],
        [file],
        paths,
        cre_by,
        cre_date,
        cre_ip_address,
        mod_by,
        mod_date,
        mod_ip_address
    )
    values
    (
		@p_item_document_id,
        @p_item_code,
        @p_remarks,
        @p_action,
        @p_file,
        @p_paths,
        @p_cre_by,
        getdate(),
        @p_cre_ip_address,
        @p_cre_by,
        getdate(),
        @p_cre_ip_address
    )
end

