create procedure [dbo].[xsp_master_item_document_insert]
(
	 @p_item_code        nvarchar(50)
    ,@p_remarks          nvarchar(250)
    ,@p_file             nvarchar(250)
    ,@p_paths            nvarchar(250)
    ,@p_cre_by	         nvarchar(15)
    ,@p_cre_ip_address   nvarchar(15)
)
as
begin
    set nocount on;

    declare @v_sequence_no int, 
			@p_id int;
	
    select @v_sequence_no = isnull(max(sequence_no), 0) + 1
    from dbo.master_item_document
    where item_code = @p_item_code;

    insert into dbo.master_item_document
    (
        item_code,
        remarks,
        sequence_no,
        [file],
        paths,
        cre_by,
        cre_date,
        cre_ip_address,
        mod_by,
        mod_date,
        mod_ip_address
    )
    values
    (
        @p_item_code,
        @p_remarks,
        @v_sequence_no,
        @p_file,
        @p_paths,
        @p_cre_by,
        getdate(),
        @p_cre_ip_address,
        @p_cre_by,
        getdate(),
        @p_cre_ip_address
    );

	set @p_id = scope_identity()

	exec [dbo].[xsp_master_item_document_history_insert]
        @p_item_document_id = @p_id, 
        @p_item_code        = @p_item_code,
		@p_remarks			= @p_remarks,
        @p_action			='create', ---- 'create 'move', 'delete'
        @p_file				= @p_file,
		@p_paths			= @p_paths,
        @p_cre_by			= @p_cre_by,
        @p_cre_ip_address   = @p_cre_ip_address
    
end
