CREATE PROCEDURE [dbo].[xsp_term_of_payment_detail_delete]
(
	@p_id int
    ,@p_po_barcode NVARCHAR(28)	
)
AS
BEGIN
    delete from term_of_payment_detail 
	where  ID = @p_id 
		and PO_CODE = @p_po_barcode
END