ALTER PROCEDURE [dbo].[xsp_ap_invoice_registration_termin_insert_from_source]
(
  @p_invoice_code    nvarchar(14)
  ,@p_code_barcode   nvarchar(20)
  ,@p_trx_code       nvarchar(20)
  ,@p_cre_date       datetime
  ,@p_cre_by         nvarchar(15)
  ,@p_cre_ip_address nvarchar(15)
  ,@p_mod_date       datetime
  ,@p_mod_by         nvarchar(15)
  ,@p_mod_ip_address nvarchar(15)
)
as
begin
  set nocount on;

  declare
    @percentage                decimal(9, 6)
    ,@amount                    decimal(18, 2)
    ,@item_code                 nvarchar(10)
    ,@po_total                  decimal(18, 2)
    ,@po_total_termin           decimal(18, 2)
    ,@tax_code                  nvarchar(10)
    ,@ppn_tax                   decimal(18, 2)
    ,@pph_tax                   decimal(18, 2)
    ,@additional_amount         decimal(18, 2)
    ,@amount_termin             decimal(18, 2)
    ,@ppn_termin                decimal(18, 2)
    ,@pph_termin                decimal(18, 2)
    ,@additional_termin         decimal(18, 2)
    ,@discount                  decimal(18, 2)
    ,@discount_termin           decimal(18, 2)
    ,@branch_code               nvarchar(20)
    ,@unit_price                decimal(18, 2)
    ,@treshold                  decimal(18, 2)
    ,@jenis_item                nvarchar(20)
    ,@jurnal_id                 nvarchar(20)
    ,@last_termin               nvarchar(10)
    ,@jurnal_last_termin        nvarchar(10)
    ,@max_id                    int
    ,@po_type                   nvarchar(10)
    ,@amount_po                 decimal(18, 2)
    ,@ss_id                     int
    ,@fee                       decimal(18, 2)
    ,@termin_id                 int
    ,@selisih_rounding          decimal(18, 2)
    ,@total_termin_inv          decimal(18, 2)
    ,@id_termin                 int
    ,@discount_last             decimal(18, 2)
    ,@pph_last                  decimal(18, 2)
    ,@ppn_last                  decimal(18, 2)
    ,@remaining_amount_top      decimal(18, 2)
    ,@invoice_remaining         decimal(18, 2)
    ,@last_remaining_amount     decimal(18, 2)
    ,@total_unit_price          decimal(18, 2)
    ,@discount_prorate          decimal(18, 2)
    ,@fee_prorate               decimal(18, 2)
    ,@prorate_pct               decimal(9, 2)
    ,@discount_code             nvarchar(20)
    ,@flag_unit_price           decimal(18, 2)
    ,@discount_po               decimal(18, 2)
    ,@last_fee                  decimal(18, 2)
    ,@additional_amount_per_qty decimal(18, 2)
    ,@ppn_tax_per_qty           decimal(18, 2)
    ,@discount_per_qty          decimal(18, 2)
    ,@order_qty                 int 
    ,@curr                      nvarchar(10)
    ,@rate_po                   decimal(18, 2)
    ,@v_termin_type             nvarchar(10)
    ,@count_po_detail           int
    ,@count_invoice_regis_detail int;


  select @curr = currency_code
  from dbo.ap_invoice_registration_header
  where code_barcode = @p_invoice_code;

  -- + 20260410 : Iproc Phase III - Ambil Tipe Termin (AMT / PCT)
  select 
      @v_termin_type = isnull(TERMIN_TYPE, 'PCT'),
      @percentage    = PERCENTAGE
  from dbo.TERM_OF_PAYMENT
  where CODE_BARCODE = @p_code_barcode
    and TRX_CODE = @p_trx_code;

  -- + 20260410 : Iproc Phase III - Ambil Tipe Termin (AMT / PCT)
  declare c_main cursor local fast_forward for
  select 
      (isnull(pod.UNIT_PRICE, 0) * isnull(pod.ORDER_QUANTITY, 0))
      ,pod.ITEM_CODE
      ,pod.TAX_CODE
      ,isnull(pod.PPN_AMOUNT, 0)
      ,isnull(pod.PPH_AMOUNT, 0)
      ,isnull(pod.ADDITIONAL_AMOUNT, 0)
      ,case when isnull(pod.ADDITIONAL_AMOUNT, 0) <> 0 then isnull(pod.ADDITIONAL_AMOUNT, 0) / pod.ORDER_QUANTITY else 0 end
      ,pod.BRANCH_CODE
      ,pod.ID
      ,case when isnull(pod.ADDITIONAL_AMOUNT, 0) <> 0 then isnull(pod.ADDITIONAL_AMOUNT, 0) / pod.ORDER_QUANTITY else 0 end
      ,case when isnull(pod.PPN_AMOUNT, 0) <> 0 then isnull(pod.PPN_AMOUNT, 0) / pod.ORDER_QUANTITY else 0 end
  from dbo.PURCHASE_ORDER_DETAIL pod
  left join dbo.term_of_payment_detail topd 
      on pod.PO_CODE = topd.po_code 
      and pod.ITEM_CODE = topd.item_code 
      and topd.TRX_CODE = @p_trx_code
  where pod.PO_CODE = @p_code_barcode 
    and (@v_termin_type = 'PCT' or (@v_termin_type = 'AMT' and topd.item_code is not null));

  open c_main ;
  fetch c_main into @po_total, @item_code, @tax_code, @ppn_tax, @pph_tax, @additional_amount, 
       @additional_amount_per_qty, @branch_code, @ss_id, @additional_amount_per_qty, @ppn_tax_per_qty;

  while @@fetch_status = 0
  begin
    set @discount_code = N''; set @unit_price = 0; set @amount_po = 0; set @treshold = 0; set @jenis_item = N'';
    set @total_unit_price = 0; set @order_qty = 0; set @prorate_pct = 0; set @discount = 0; set @fee = 0;
    set @discount_prorate = 0; set @fee_prorate = 0; set @flag_unit_price = 0; set @discount_per_qty = 0;
    set @amount_termin = 0; set @ppn_termin = 0; set @pph_termin = 0; set @additional_termin = 0;

    select @discount_code = DISCOUNT_CODE from dbo.SYS_GLOBAL_PARAM;

    select @unit_price = pod.UNIT_PRICE, @amount_po = pod.UNIT_PRICE * pod.ORDER_QUANTITY,
           @treshold = isnull(fc.DEPRE_AMOUNT_TRESHOLD, 0), @jenis_item = mi.JENIS_ITEM
    from dbo.PURCHASE_ORDER_DETAIL pod
    inner join dbo.MASTER_ITEM mi on (mi.ITEM_CODE = pod.ITEM_CODE)
    left join dbo.FA_CATEGORY fc on (mi.FA_CATEGORY_CODE = fc.CAT_CODE)
    where pod.PO_CODE = @p_code_barcode and pod.ID = @ss_id;

    if @v_termin_type = 'AMT'
    begin
        select @amount_termin = isnull(TOTAL_AMOUNT_TERMIN, 0), @ppn_termin = isnull(PPN_TRM, 0),
               @pph_termin = isnull(PPH_TRM, 0), @additional_termin = isnull(ADDITIONAL_TERM, 0),
               @fee_prorate = isnull(FEE_TERM, 0), @discount_prorate = isnull(DISCOUNT_TERM, 0), @order_qty = isnull(ORDER_QTY, 1)
        from dbo.term_of_payment_detail
        where po_code = @p_code_barcode and trx_code = @p_trx_code and item_code = @item_code;
        set @discount_per_qty = @discount_prorate / nullif(@order_qty, 0);
    end
    else
    begin
        set @amount_termin = (@percentage / 100) * @po_total;
        set @ppn_termin = (@percentage / 100) * @ppn_tax;
        set @pph_termin = (@percentage / 100) * @pph_tax;
        set @additional_termin = (@percentage / 100) * @additional_amount;

        select @total_unit_price = sum(UNIT_PRICE * ORDER_QUANTITY), @order_qty = sum(ORDER_QUANTITY)
        from dbo.PURCHASE_ORDER_DETAIL where PO_CODE = @p_code_barcode;
        set @prorate_pct = @amount_po / nullif(@total_unit_price, 0) * 100;
        
        select @discount = sum(AMOUNT_FEE) from dbo.PURCHASE_ORDER_FEE where PO_CODE = @p_code_barcode and TRX_TYPE = @discount_code;
        set @discount_prorate = (isnull(@discount, 0) * @percentage / 100) * @prorate_pct / 100;
        set @discount_per_qty = isnull(@discount, 0) / nullif(@order_qty, 0);
    end

    set @flag_unit_price = isnull(@unit_price, 0) + isnull(@additional_amount_per_qty, 0) + isnull(@ppn_tax_per_qty, 0) + isnull(@fee_prorate, 0) - isnull(@discount_per_qty, 0);

    set @max_id = 0; select @max_id = max(ID) from dbo.TERM_OF_PAYMENT where CODE_BARCODE = @p_code_barcode;
    select @last_termin = TRX_CODE from dbo.TERM_OF_PAYMENT where ID = @max_id;
    select @po_type = flag_po_rent, @rate_po = rate from dbo.purchase_order_header where code_barcode = @p_code_barcode;

    if (@flag_unit_price >= @treshold and @jenis_item = 'FA') set @jurnal_id = case when @p_trx_code = 'TM1' then 'NAIP' else 'UAIP' end;
    if (@p_trx_code = @last_termin) set @jurnal_last_termin = 'RAIP';
    if @po_type = '1' set @jurnal_id = 'SRIR';

    set @amount_termin = @amount_termin + @additional_termin;

    exec dbo.xsp_ap_invoice_registration_termin_insert
      @p_id = @termin_id output, @p_invoice_code = @p_invoice_code, @p_trx_code = @p_trx_code,
      @p_percentage = @percentage, @p_amount = @amount_termin, @p_reff_no = @p_code_barcode,
      @p_discount = @discount_prorate, @p_item_code = @item_code, @p_cre_date = @p_cre_date,
      @p_cre_by = @p_cre_by, @p_cre_ip_address = @p_cre_ip_address, @p_mod_date = @p_mod_date,
      @p_mod_by = @p_mod_by, @p_mod_ip_address = @p_mod_ip_address, @p_tax_code = @tax_code,
      @p_ppn_amount = @ppn_termin, @p_pph_amount = @pph_termin, @p_branch_code = @branch_code,
      @p_jurnal_id = @jurnal_id, @p_jurnal_last_termin = @jurnal_last_termin, @p_ss_id = @ss_id,
      @p_fee = @fee_prorate, @p_discount_real = 0, @p_additonal_termin = @additional_termin;

    update dbo.AP_INVOICE_REGISTRATION_TERMIN set TRESHOLD = @treshold where ID = @termin_id;
    exec dbo.xsp_ap_invoice_registration_termin_calculate_asset @p_id = @termin_id;

    fetch next from c_main into @po_total, @item_code, @tax_code, @ppn_tax, @pph_tax, @additional_amount, 
       @additional_amount_per_qty, @branch_code, @ss_id, @additional_amount_per_qty, @ppn_tax_per_qty;
  end;
  close c_main; deallocate c_main;

  select @count_po_detail = count(ID) from dbo.PURCHASE_ORDER_DETAIL where PO_CODE = @p_code_barcode;
  select @count_invoice_regis_detail = count(ID), @total_termin_inv = isnull(sum(AMOUNT), 0),
         @ppn_last = isnull(sum(PPN), 0), @pph_last = isnull(sum(PPH), 0), @discount_last = isnull(sum(DISCOUNT), 0), @last_fee = isnull(sum(FEE_TERMIN), 0)
  from dbo.AP_INVOICE_REGISTRATION_TERMIN where INVOICE_CODE = @p_invoice_code and TRX_CODE = @p_trx_code;

  if @v_termin_type = 'PCT' and @count_po_detail <> @count_invoice_regis_detail
  begin
     raiserror('Terdapat perbedaan jumlah detail PO dan detail Register Termin!', 16, -1);
     return;
  end

  update dbo.AP_INVOICE_REGISTRATION_HEADER
  set INVOICE_AMOUNT = @total_termin_inv, PPN_TAX = @ppn_last, PPH_TAX = @pph_last,
      DISCOUNT = isnull(DISCOUNT, 0) + @discount_last, TOTAL_FEE = isnull(TOTAL_FEE, 0) + @last_fee,
      TOTAL_AMOUNT = @total_termin_inv + @ppn_last - (isnull(DISCOUNT,0) + @discount_last) - @pph_last
  where CODE_BARCODE = @p_invoice_code;

end
