ALTER PROCEDURE [dbo].[xsp_ap_invoice_registration_termin_insert]
(
	 @p_id					int output
	,@p_invoice_code		nvarchar(14)
	,@p_trx_code			nvarchar(20)
	--,@p_percentage			decimal(18,2)
	,@p_percentage			decimal(9,6)  -- 2408000115 ali fixing type data for percentage termin
	,@p_amount				decimal(18,2)
	,@p_reff_no				nvarchar(50)
	,@p_discount			decimal(18,2)
	,@p_item_code			nvarchar(10)
	,@p_cre_date			datetime
	,@p_cre_by				nvarchar(15)
	,@p_cre_ip_address		nvarchar(15)
	,@p_mod_date			datetime
	,@p_mod_by				nvarchar(15)
	,@p_mod_ip_address		nvarchar(15)
	,@p_tax_code			nvarchar(10)
	,@p_ppn_amount			decimal(18,2)
	,@p_pph_amount			decimal(18,2)
	,@p_branch_code			nvarchar(20)
	,@p_jurnal_id			nvarchar(20)
	,@p_jurnal_last_termin  nvarchar(10)
	,@p_ss_id				int
    ,@p_fee					decimal(18,2)
	,@p_discount_real		decimal(18,2) = 0
	,@p_additonal_termin	decimal(18,2) = 0


    
) as
BEGIN

	declare  @tax_type23	    nvarchar(20)
			,@tax_type21	    nvarchar(20)
			,@tax_final		    nvarchar(20)
			,@pph_type			nvarchar(20)
			,@tax_type			nvarchar(1)
			,@branch_code		nvarchar(20)
			,@unit_price		decimal(18,2)
			,@treshold			decimal(18,2)
			,@jenis_item		nvarchar(20)
			,@jurnal_id			nvarchar(20)
			--,@percentage		decimal(18,2)
			,@percentage			decimal(9,6)  -- 2408000115 ali fixing type data for percentage termin
			,@amount			decimal(18,2)
			,@po_code			nvarchar(20)
			,@count_po			int




	select  @tax_type23		= tax_type23
			,@tax_type21	= tax_type21
			,@tax_final		= tax_final
	from	dbo.sys_global_param

	select  @pph_type			= PPH_COA       
	from	dbo.master_tax_scheme
	where   TAX_CODE		= @p_tax_code

	
	IF   @pph_type  = @tax_type21
	BEGIN
		SET @tax_type = 'P'
	END
    
	IF   @pph_type  = @tax_type23
	BEGIN
		SET @tax_type = 'C'
	end

		IF   @pph_type  = @tax_final
	BEGIN
		SET @tax_type = 'F'
	END
    
	DECLARE @rate DECIMAL(18,2)
			,@currency NVARCHAR(15)
	
	select @count_po		= count(airh.code_barcode)
	from dbo.ap_invoice_registration_termin airt
	inner join dbo.ap_invoice_registration_header airh on (airh.code_barcode = airt.invoice_code)
	where airh.po_no = @p_reff_no
	AND	  airh.TRANS_FLAG_CODE = 'NEW'
	AND	  airt.TRX_CODE = @p_trx_code

	select @rate			= airh.rate	-- (+) Ari 12-08-2022 ket : enhancement 2022
			,@currency		= airh.currency_code -- (+) Ari 12-08-2022 ket : enhancement 2022
	from dbo.ap_invoice_registration_header airh
	where airh.po_no = @p_reff_no
	AND	  airh.TRANS_FLAG_CODE = 'NEW'
	GROUP BY airh.RATE, airh.CURRENCY_CODE  -- (+) Ari 12-08-2022 ket : enhancement 2022
	
	IF(ISNULL(@rate, 0) = 0)
	BEGIN
		SET @rate = 1;
	end	
	BEGIN
		SET @p_percentage = CONVERT(DECIMAL(18,2), @p_percentage)
	END;
	
	insert into ap_invoice_registration_termin
	(
		invoice_code
		,trx_code
		,percentage
		,amount
		,reff_no
		,DISCOUNT
		,ITEM_CODE
		,cre_date
		,cre_by
		,cre_ip_address
		,mod_date
		,mod_by
		,mod_ip_address
		,tax
		,ppn
		,pph
		,branch_code
		,PPH_TYPE
		,JURNAL_ID
		,LAST_TERMIN
		,po_id
		,FEE_TERMIN
		,discount_real
		,additional_amount
		,DISCOUNT_ADDITIONAL		-- (+) Ari 12-08-2022 ket : enhancement 2022
		,RATE
		,CURRENCY
	)
	values
	(
		@p_invoice_code
		,@p_trx_code
		,@p_percentage
		,@p_amount		--,(@p_amount * @rate) -- (+) Ari 12-08-2022 ket : enhancement 2022
		,@p_reff_no
		,@p_discount
		,@p_item_code
		,@p_cre_date
		,@p_cre_by
		,@p_cre_ip_address
		,@p_mod_date
		,@p_mod_by
		,@p_mod_ip_address
		,@p_tax_code
		,@p_ppn_amount
		,@p_pph_amount
		,@p_branch_code
		,@tax_type
		,@p_jurnal_id
		,@p_jurnal_last_termin
		,@p_ss_id
		,@p_fee
		,@p_discount_real
		,@p_additonal_termin
		,0
		,@rate   -- (+) Ari 12-08-2022 ket : enhancement 2022
		,@currency  -- (+) Ari 12-08-2022 ket : enhancement 2022
		
	)
	
	set @p_id = @@identity

	declare	@po_no			nvarchar(50)			
			,@amount_top	decimal(18,2)
			,@total_amount	decimal(18,2)
			,@ppn			decimal(18,2)
			,@pph			decimal(18,2)
			,@discount		decimal(18,2)
			,@total_fee		decimal(18,2)
			,@amount_grn_remaing	DECIMAL(18,2)
			,@remaining_amount_top	DECIMAL(18,2)
			,@amount_termin			DECIMAL(18,2)
			,@invoice_remaining		DECIMAL(18,2)
			,@last_remaining_amount DECIMAL(18,2)
			,@disc_termin			DECIMAL (18,2)
			,@total_discount		DECIMAL (18,2)
			,@currenccy				nvarchar(5)
			,@trx_type				nvarchar(5)
			,@amount_fee			decimal(18,2)
			,@charged_to			nvarchar(10)
			,@discount_last			DECIMAL(18,2)
			,@ppn_last				DECIMAL(18,2)
			,@pph_last				DECIMAL(18,2)
			,@fee_last				DECIMAL(18,2)
			
	select	@po_no			= airh.po_no
			,@percentage	= isnull(tp.percentage,1)
			,@amount_top	= tp.amount
			,@currenccy		= airh.currency_code
	from	dbo.ap_invoice_registration_header airh
			inner join dbo.term_of_payment tp on (airh.po_no = tp.code_barcode)
	where	airh.code_barcode = @p_invoice_code
	and		tp.trx_code		  = @p_trx_code

	print @po_no
	print @percentage
	print @amount_top
	print @p_invoice_code



	/* ------------ */

	-- select	 @discount		= (isnull(discount,0) * @percentage ) / 100
	-- from	dbo.purchase_order_header 
	-- where	code_barcode = @po_no
 
	--select	
	--		 @pph_last		= CEILING(isnull(sum(pph),0))
	--		,@ppn_last		= CEILING(isnull(sum(ppn),0))
	--from	dbo.ap_invoice_registration_termin
	--where	invoice_code		= @p_invoice_code
	--and		trx_code			= @p_trx_code
	--and		item_code			= @p_item_code
	--and		branch_code			= @p_branch_code
	--AND		PO_ID				= @p_ss_id

	--select	@total_amount = CEILING(isnull(sum(amount),0))
	--		,@discount_last	= CEILING(isnull(sum(discount),0))
			
			
	--from	dbo.ap_invoice_registration_termin
	--where	invoice_code		= @p_invoice_code
	--and		trx_code			= @p_trx_code
	--and		item_code			= @p_item_code
	--and		branch_code			= @p_branch_code
	
	
	

	--update	dbo.ap_invoice_registration_header
	--set		invoice_amount	=  ISNULL(INVOICE_AMOUNT,0) + ISNULL(@total_amount,0)
	--		,ppn_tax		= ISNULL(ppn_tax,0) + ISNULL(@ppn_last,0)
	--		,pph_tax		= ISNULL(pph_tax,0) + ISNULL(@pph_last,0)
	--		,discount		= ISNULL(@discount,0) + ISNULL(@discount_last,0)
	--		,total_fee		= ISNULL(total_fee,0) 
	--		,total_amount	=  CEILING(ISNULL(INVOICE_AMOUNT,0)) + CEILING(ISNULL(@total_amount,0)) + CEILING((ISNULL(ppn_tax,0)) + CEILING(ISNULL(@ppn_last,0)))  + CEILING(ISNULL(TOTAL_FEE,0)) - CEILING((ISNULL(@discount,0)) + CEILING(ISNULL(@discount_last,0))) - CEILING((ISNULL(pph_tax,0)) + CEILING(ISNULL(@pph_last,0))) 
	--where	code_barcode = @p_invoice_code

	--select	@remaining_amount_top = CEILING(isnull(total_amount,0)) + CEILING(isnull(ppn,0))- CEILING(isnull(PPH,0)) 
	--from	dbo.purchase_order_header 
	--where	code_barcode = @po_no
	 

	--SELECT  @invoice_remaining	  =CEILING( isnull(sum(airh.INVOICE_AMOUNT),0) ) + CEILING( isnull(sum(airh.PPN_TAX),0) ) - CEILING( isnull(sum(airh.PPH_TAX),0) )
	--from	dbo.AP_INVOICE_REGISTRATION_HEADER airh
	--WHERE	PO_NO = @po_no

	
		
	--SET @last_remaining_amount = @remaining_amount_top - ISNULL(@invoice_remaining,0) 
	
	--update	dbo.ap_invoice_registration_header
	--set		INVOICE_REMAINING = CEILING(ABS(ISNULL(@last_remaining_amount,0)))
	--where	code_barcode = @p_invoice_code		
	--	--	EN	
end

