ALTER PROCEDURE [dbo].[xsp_term_of_payment_delete]
(
	@p_id					int
)as
begin

    declare		@po_code	NVARCHAR(30)
			   ,@trx_code	nvarchar(30)
			   ,@msg		NVARCHAR(max)

	select		@po_code = code_barcode
			   ,@trx_code  = trx_code
	from		dbo.term_of_payment
	where		id = @p_id

	--2301000016 adi 2023-jan-19 validasi tidak bisa delete jika termin di atas termin yang diakan dihapus masih ada 
	if exists(select 1 from term_of_payment where code_barcode = @po_code and trx_code > @trx_code)
	begin
		set @msg = N'Mohon hapus data diatas Termin ' +  REPLACE(@trx_code,'TM','') + ' terlebih dahulu !' ;

		raiserror(@msg, 16, -1) ;
		return ;
	end
	
	delete dbo.term_of_payment_item
	where po_code  = @po_code
	and	  trx_code = @trx_code

	-- Iproc Phase III : Detele data di table term_of_payment_detail
	delete dbo.term_of_payment_detail
	where po_code  = @po_code
	and	  trx_code = @trx_code
	
	delete	dbo.term_of_payment
	where	id = @p_id


end


GO
