CREATE PROCEDURE [dbo].[xsp_fa_grouping_asset_history_insert]
(
    @p_fa_ga_detail_id int,
    @p_barcode nvarchar(20),
    @p_action nvarchar(50), 
    @p_move_to nvarchar(20) = NULL,
	@p_doc_reff_no nvarchar(20) = NULL,
    @p_cre_date datetime,
    @p_cre_by nvarchar(15),
    @p_cre_ip_address nvarchar(15),
    @p_mod_date datetime,
    @p_mod_by nvarchar(15),
    @p_mod_ip_address nvarchar(15)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.FA_GROUPING_ASSET_HISTORY
    (
        FA_GA_DETAIL_ID,
        BARCODE,
        ACTION,
        MOVE_TO,
		doc_reff_no,
        CRE_DATE,
        CRE_BY,
        CRE_IP_ADDRESS,
        MOD_DATE,
        MOD_BY,
        MOD_IP_ADDRESS
    )
    VALUES
    (
        @p_fa_ga_detail_id,
        @p_barcode,
        @p_action, -- 'CREATE 'MOVE', 'DELETE'
        @p_move_to,
		@p_doc_reff_no,
        @p_cre_date,
        @p_cre_by,
        @p_cre_ip_address,
        @p_mod_date,
        @p_mod_by,
        @p_mod_ip_address
    )
END