CREATE PROCEDURE [dbo].[xsp_fa_grouping_asset_detail_delete]
(
	@p_id		int
	,@p_mod_by			nvarchar(15)
	,@p_mod_ip_address	nvarchar(15)
)as
begin
	
	declare @is_parent INT,
			@p_barcode nvarchar(50),
			@p_mod_date datetime 

	
	SELECT @is_parent = COUNT(1)
    FROM dbo.fa_grouping_asset_detail
    WHERE id = @p_id AND IS_PARENT =1

	SELECT @p_barcode = barcode,
		@p_mod_date=getdate()
    FROM dbo.fa_grouping_asset_detail
    WHERE id = @p_id
      


	if @is_parent = 1
		begin
			raiserror ('Asset Parent tidak dapat di hapus',16 , 1)
		return
	end

	update	fa_grouping_asset_detail 
		set IS_ACTIVE ='0',
			MOD_DATE=@p_mod_date,
			MOD_BY=@p_mod_by, 
			MOD_IP_ADDRESS = @p_mod_ip_address
	where	id	= @p_id	

		--Insert ke table fa_grouping_asset_history
	EXEC [dbo].[xsp_fa_grouping_asset_history_insert]
		@p_fa_ga_detail_id = @p_id, 
		@p_barcode         = @p_barcode,
		@p_action          = 'DELETE', ---- 'CREATE 'MOVE', 'DELETE'
		@p_move_to         = '',
		@p_doc_reff_no     = '',
		@p_cre_date        = @p_mod_date,
		@p_cre_by          = @p_mod_by,
		@p_cre_ip_address  = @p_mod_ip_address,
		@p_mod_date        = @p_mod_date,
		@p_mod_by          = @p_mod_by,
		@p_mod_ip_address  = @p_mod_ip_address
	
end

