ALTER PROCEDURE [dbo].[xsp_fa_grouping_asset_detail_insert]
(
    @p_id int OUTPUT,
    @p_fa_group_asset_code nvarchar(20),
    @p_fa_asset_id int,
    @p_code_asset nvarchar(18),
    @p_name_asset nvarchar(60),
    @p_barcode nvarchar(20),
    @p_description nvarchar(200),
    @p_is_parent bit='0',
    @p_cre_date datetime,
    @p_cre_by nvarchar(15),
    @p_cre_ip_address nvarchar(15),
    @p_mod_date datetime,
    @p_mod_by nvarchar(15),
    @p_mod_ip_address nvarchar(15)
)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE
		@fa_group_asset_code		nvarchar(20),
		@is_parent				bit,
		@msg               NVARCHAR(200)

		select	@fa_group_asset_code=fgad.fa_ga_code,
				@is_parent = is_parent		
			from fa_grouping_asset_detail fgad
			inner join fa_grouping_asset fga 
				on fgad.fa_ga_code = fga.fa_group_asset_code
			where fgad.barcode = @p_barcode
			and fgad.is_active = '1'

	IF (@fa_group_asset_code IS NOT NULL AND @fa_group_asset_code <> '' AND ISNULL(@is_parent, 0) = 1)
    BEGIN
		SET @msg = 'Asset code ' + @p_barcode + ' adalah parent pada item group ' + @fa_group_asset_code;
        RAISERROR (@msg, 16, 1)
        RETURN
	END

	ELSE IF (@fa_group_asset_code IS NOT NULL AND @fa_group_asset_code <> '' AND ISNULL(@is_parent, 0) <> 1)
	BEGIN
		SET @msg = 'Asset code ' + @p_barcode + ' terdaftar dalam item group ' + @fa_group_asset_code + '. Silakan lepaskan item tersebut dari Item grup tersebut.';
        RAISERROR (@msg, 16, 1)
        RETURN
	END

    IF EXISTS (
        SELECT 1 
        FROM fa_grouping_asset_detail 
        WHERE fa_ga_code = @fa_group_asset_code
		and BARCODE= @p_barcode
        AND is_parent = 1
        AND is_active = 1
    )
    BEGIN
        RAISERROR('Parent asset already exists for this group.',16,1)
        RETURN
    END

    INSERT INTO dbo.fa_grouping_asset_detail
    (
        fa_ga_code,
        fa_asset_id,
        code_asset,
        name_asset,
        barcode,
        description,
        is_parent,
        is_active,
        cre_date,
        cre_by,
        cre_ip_address,
        mod_date,
        mod_by,
        mod_ip_address
    )
    VALUES
    (
        @p_fa_group_asset_code,
        @p_fa_asset_id,
        @p_code_asset,
        UPPER(@p_name_asset),
        @p_barcode,
        UPPER(@p_description),
        @p_is_parent,
        1,
        @p_cre_date,
        @p_cre_by,
        @p_cre_ip_address,
        @p_mod_date,
        @p_mod_by,
        @p_mod_ip_address
    )

    SET @p_id = SCOPE_IDENTITY()


	--Insert ke table fa_grouping_asset_history
	EXEC [dbo].[xsp_fa_grouping_asset_history_insert]
        @p_fa_ga_detail_id = @p_id, 
        @p_barcode         = @p_barcode,
        @p_action          = 'CREATE', ---- 'CREATE 'MOVE', 'DELETE'
        @p_move_to         = '',
		@p_doc_reff_no	   = '',
        @p_cre_date        = @p_cre_date,
        @p_cre_by          = @p_cre_by,
        @p_cre_ip_address  = @p_cre_ip_address,
        @p_mod_date        = @p_mod_date,
        @p_mod_by          = @p_mod_by,
        @p_mod_ip_address  = @p_mod_ip_address
END
