create procedure [dbo].[xsp_fa_grouping_asset_history_getrows]  
(  
 @p_keywords   nvarchar(50)  
 ,@p_fa_group_asset_code nvarchar(18)  
)as  
begin  
select   
 fgad.id 'historyid'  
 ,fgah.barcode 'barcode'  
 ,fgad.fa_ga_code 'group_asset_code'  
 ,fgad.name_asset 'item_name'  
 ,fc.cat_name   'asset_category'  
 ,isnull(emp.EMP_NAME,'-') 'pic_asset'  
 ,isnull(emp2.EMP_NAME,'-') 'mod_by'  
 ,fgad.MOD_DATE 'mod_date'  
 ,doc_reff_no 'doc_reff_no'  
 ,CASE   
            WHEN fgah.action = 'create' THEN 'New Grouping'  
            WHEN fgah.action = 'delete' THEN 'Remove From Grouping'  
            WHEN fgah.action = 'move out'   THEN 'Move Grouping Out'  
   WHEN fgah.action = 'move in'   THEN 'Move Grouping In'  
            ELSE fgah.action   
        END AS 'action'   
 ,CASE  
  WHEN fgah.action = 'move out' THEN fgad.FA_GA_CODE  
  --WHEN fgah.action = 'move in' THEN fgah2.FA_GROUP_ASSET_CODE  
  ELSE '-'  
  END AS 'from_group'  
 ,CASE  
  WHEN fgah.action = 'move out' THEN fgah.MOVE_TO  
  --WHEN fgah.action = 'move in' THEN fgah2.FA_GROUP_ASSET_CODE  
  ELSE '-'  
  END AS 'to_group'  
 ,fgah.cre_date 'cre_date'  
 ,fgah.mod_date 'mod_date'  
from fa_grouping_asset_history fgah with (nolock)  
inner join fa_grouping_asset_detail fgad with (nolock) on fgah.fa_ga_detail_id = fgad.id and fgah.barcode = fgad.barcode  
--left join fa_grouping_asset_detail fgad2 with (nolock) on fgah.fa_ga_detail_id = fgad2.id and fgah.barcode = fgad2.barcode and fgah.ACTION = 'move in'  
--left join fa_grouping_asset fgah2 with (nolock) on fgad2.FA_GA_CODE =fgah2.FA_GROUP_ASSET_CODE  
left join fa_asset fa with (nolock) on (fgad.code_asset = fa.ast_code and fgad.fa_asset_id = fa.id and fgad.barcode =fa.barcode)  
left join dbo.fa_category fc with (nolock) on (fc.cat_code = fa.cat_code)  
left join EMPLOYEE_MAIN emp with (nolock) on fa.PIC_USE = emp.emp_code  
left join EMPLOYEE_MAIN emp2 with (nolock) on fgad.MOD_BY = emp2.emp_code  
where fgad.fa_ga_code = @p_fa_group_asset_code   
and   
  (  
     fgad.code_asset             like '%'+ @p_keywords +'%'  
    or fgad.name_asset             like '%'+ @p_keywords +'%'  
    or fgah.barcode              like '%'+ @p_keywords +'%'  
   )  
order by fgad.MOD_DATE desc  
--order by fgah.barcode,fgah.cre_date desc  
end   
  