CREATE procedure [dbo].[xsp_fa_grouping_asset_update_from_source]
(
	@p_barcode			nvarchar(50)
	,@p_fa_group_asset_code	nvarchar(15)
	,@p_mod_date		datetime
	,@p_mod_by			nvarchar(15)
	,@p_mod_ip_address	nvarchar(15)
)
as
begin
	declare @is_parent INT,
		@detail_id int

	
	SELECT @is_parent = COUNT(1)
    FROM dbo.fa_grouping_asset_detail
    WHERE BARCODE = @p_barcode
      AND IS_PARENT =1

	SELECT @detail_id = ID
    FROM dbo.fa_grouping_asset_detail
    WHERE BARCODE = @p_barcode
	  AND fa_ga_code = @p_fa_group_asset_code
      AND IS_ACTIVE ='1'

	if @is_parent = 1
		begin
			raiserror ('Asset Parent tidak dapat di hapus',16 , 1)
		return
	end

	update	fa_grouping_asset_detail 
		set IS_ACTIVE ='0',
			MOD_DATE=@p_mod_date,
			MOD_BY=@p_mod_by, 
			MOD_IP_ADDRESS = @p_mod_ip_address
	where	fa_ga_code = @p_fa_group_asset_code 			
			and BARCODE = @p_barcode
			and IS_ACTIVE ='1'


	--Insert ke table fa_grouping_asset_history
	EXEC [dbo].[xsp_fa_grouping_asset_history_insert]
    @p_fa_ga_detail_id = @detail_id, 
    @p_barcode         = @p_barcode,
    @p_action          = 'DELETE', ---- 'CREATE 'MOVE', 'DELETE'
    @p_move_to         = '',
	@p_doc_reff_no     = '',
    @p_cre_date        = @p_mod_date,
    @p_cre_by          = @p_mod_by,
    @p_cre_ip_address  = @p_mod_ip_address,
    @p_mod_date        = @p_mod_date,
    @p_mod_by          = @p_mod_by,
    @p_mod_ip_address  = @p_mod_ip_address

end