ALTER PROCEDURE [dbo].[xsp_approval_request_start]
(
	@p_approval_code		nvarchar(20)	
	,@p_user				nvarchar(10)	
	,@p_priority_code		nvarchar(20)	
	,@p_remark				nvarchar(200)	
	,@p_object_id			nvarchar(100) 
	,@p_object_branch		nvarchar(20) = '' 
	,@p_mod_date			datetime	
	,@p_mod_ip_address		nvarchar(15)	
	,@p_object_amount		decimal(18,2) = 100		
	,@p_branch_code			nvarchar(10) = ''		
	,@p_object_description	nvarchar(200)= ''	
	,@p_object_code			nvarchar(50) = '' 
	
) as
BEGIN

	DECLARE @ar_id				int
			,@no_of_level		int				
			,@count				int				
			,@msg				nvarchar(500)	
			,@level_id			int
			,@branch_name		nvarchar(50)
			,@f_disb_plan_amt	decimal(18,2)
			,@f_amount_finance	decimal(18,2)
			,@f_amort_type		nvarchar(10)
			,@f_disc_amt		decimal(18,2)
			,@ctr				int 

	select	@no_of_level	= no_of_level 
	from	dbo.approval_type
	where	code			= @p_approval_code
	
	

	select	@count			= count(id)
	from	dbo.approval_type_level
	where	approval_code	= @p_approval_code

	if (@no_of_level > @count) and (@no_of_level <> 0)
	begin
		
		set	@msg = 'Please set level approval minimum ' + cast(@no_of_level as nvarchar(2)) + ' level, with Approval Code : ' + @p_approval_code + '.'

		raiserror(@msg, 16, 1)
		return

	end 

	if (@no_of_level > 0)
	BEGIN
		if len(@p_branch_code) < 1 
		begin
			set	@msg = 'System cannot process your request. Please add branch code for multi level approval.'
			raiserror(@msg, 16, 1)
			return;
		end
    
		if exists(select object_id from dbo.approval_request_schedule where object_id = @p_object_id and approval_code = @p_approval_code)
		begin
			
			select	@ctr			= max(approval_to)
			from	dbo.approval_request_schedule
			where	object_id		= @p_object_id
			and		approval_code	= @p_approval_code

			set @ctr = @ctr + 1

		end
        else
        begin
        
			set @ctr = 1

		end

		exec	dbo.xsp_approval_request_schedule_generate
				@p_approval_code
				,@p_object_id
				,@p_object_amount
				,@p_branch_code	
				,@p_user
				,@p_mod_date
				,@p_mod_ip_address
				,@ctr 
		
		set	@count = 1

		select	top 1
				@no_of_level	= order_key
		from	dbo.approval_type_level
		where	approval_code	= @p_approval_code
		and		from_amount		<= @p_object_amount
		order	by 
				order_key desc

		while (@count <= @no_of_level)
		

		begin
	 
			if not exists (	select top 1 level_approval from dbo.approval_request_schedule where object_id = @p_object_id and level_approval = @count)
			begin
				
				select	@branch_name	= description
				from	dbo.master_branch
				where	code			= @p_branch_code

				set	@msg = 'Does not found employee who will approve, approval type ' + @p_approval_code +', level ' + cast(@count as nvarchar(2)) + ' and branch ' + isnull(@branch_name, '')

				raiserror(@msg, 16, 1)
				return

			end		

			set	@count += 1

		end
	
	END

	exec xsp_approval_request_insert 
		@p_approval_code
		, @p_user
		, @p_priority_code
		, @p_remark
		, 'NEW'
		, null
		, 0
		, @p_object_id
		, @p_mod_date
		, @p_mod_ip_address
		, @ar_id output
        , @p_object_branch
        , @p_object_amount		
		, @p_branch_code			
		, @p_object_description
		, @p_object_code

	exec xsp_approval_request_broadcast 
		@p_approval_code
		, @p_user
		, 1
		, @ar_id
		,NULL
        ,NULL
		, @p_mod_date
		, @p_mod_ip_address	
		, @p_object_amount		
		, @p_branch_code
end



