CREATE PROCEDURE [dbo].[xsp_fa_grouping_asset_getrows_subsciption]
(
	@p_keywords			nvarchar(50)
	,@p_fa_group_asset_code	nvarchar(20)
)as
begin
	select	isnull(fad.BARCODE,ib.BARCODE) 'code'
		,isnull(fa.ast_name,(ib.item_code + ' - ' + mi2.item_name)) 'description'
		,fc.cat_name as 'category'
		,isnull(mu.DESCRIPTION,mu2.DESCRIPTION) 'owner'
	from fa_grouping_asset_detail fad
	left join  fa_asset fa with (nolock) on fad.BARCODE = fa.barcode
	left join dbo.inventory_barcode ib with (nolock) on ib.BARCODE = fad.barcode
	left join dbo.fa_category fc with (nolock) on (fc.cat_code = fa.cat_code)
	left join dbo.master_item mi with (nolock) on (mi.item_code = fa.ast_code)
	left join dbo.master_item mi2 with (nolock) on (mi2.item_code = ib.item_code)
	left join master_units mu with (nolock) on mi.owner = mu.code and mu.IS_ACTIVE = 1 and mu.IS_OWNER = 1
	left join master_units mu2 with (nolock) on mi2.owner = mu2.code and mu2.IS_ACTIVE = 1 and mu2.IS_OWNER = 1
	where fad.fa_ga_code = @p_fa_group_asset_code 
	and		fad.IS_ACTIVE = '1'
	and
		(
					CODE_ASSET		like '%'+ @p_keywords +'%'
				or	NAME_ASSET		like '%'+ @p_keywords +'%'
				or	fa.BARCODE		like '%'+ @p_keywords +'%'
				or	ib.BARCODE		like '%'+ @p_keywords +'%'
				or  fc.cat_name		like '%'+ @p_keywords +'%'
				or	mu.DESCRIPTION  like '%'+ @p_keywords +'%'
		)
	
end

