CREATE PROCEDURE [dbo].[xsp_grouping_asset_movement_getrows_for_lookup]
(
	@p_cost_center	nvarchar(20),
	@p_location	nvarchar(20),
	@p_keywords	nvarchar(50)= ''
)as
begin

	SELECT 
		FGA.FA_GROUP_ASSET_CODE,
		FGA.FA_GROUP_ASSET_NAME,
		FGA.BRANCH_CODE AS COST_CENTER,
		FGA.FA_LOCATION AS LOCATION
	FROM FA_GROUPING_ASSET FGA
	WHERE FGA.IS_ACTIVE = 1
		AND FGA.BRANCH_CODE = @p_cost_center
		AND FGA.FA_LOCATION = @p_location
		AND (
			FGA.BRANCH_CODE LIKE '%'+ @p_keywords +'%'
			OR FGA.FA_GROUP_ASSET_NAME LIKE '%'+ @p_keywords +'%'
		)
	ORDER BY FGA.FA_GROUP_ASSET_CODE DESC
END