Create PROCEDURE [dbo].[xsp_fa_mutation_update_from_source]
(
	@p_barcode			nvarchar(14)
	,@p_ir_code			nvarchar(14)
	,@p_mod_date		datetime
	,@p_mod_by			nvarchar(15)
	,@p_mod_ip_address	nvarchar(15)
)
as
BEGIN
	
	delete	dbo.fa_request_mutation_detail
	where	item_code			= @p_barcode
	and		ir_code	= @p_ir_code

end


