ALTER PROCEDURE [dbo].[xsp_fa_mutation_getrows_subsciption]
(
	@p_keywords			nvarchar(50)
	,@p_ir_code			NVARCHAR(14)
)as
begin
	select  fa.BARCODE			'code'
			,isnull(rtrim(fa.ast_name),'-') + ' - ' + isnull(mu.DESCRIPTION,'-')		 --'description'
	from	fa_request_mutation_detail ird
			left join dbo.fa_asset fa on (fa.barcode = ird.item_code)
			left join master_item mi	on (fa.ast_code	= mi.item_code)
			left join master_merk mm	on (mm.code		= mi.merk_code)
			left join dbo.master_units mu		on (mu.code			= mi.owner)
	where(
				fa.BARCODE													like @p_keywords +'%'
			or	fa.ast_name													like @p_keywords +'%'
		 )
	and		ir_code	= @p_ir_code
	
end