CREATE PROCEDURE [dbo].[xsp_fa_mutation_insert_from_source]
(
    @p_ir_code                  NVARCHAR(14),
    @p_barcode                  NVARCHAR(20),
    @p_cre_date                 DATETIME,
    @p_cre_by                   NVARCHAR(15),
    @p_cre_ip_address           NVARCHAR(15),
    @p_mod_date                 DATETIME,
    @p_mod_by                   NVARCHAR(15),
    @p_mod_ip_address           NVARCHAR(15),
    @p_location                 NVARCHAR(40)
) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @msg                        NVARCHAR(200),
            @fa_item_group_code         NVARCHAR(20),
            @is_parent                  BIT,
            @branch_code                NVARCHAR(20),
            @to_cost_center             NVARCHAR(40),
            @to_location_code           NVARCHAR(40);

    -- 1. Ambil info group berdasarkan location dan barcode
    SELECT TOP 1 
        @fa_item_group_code = fig.FA_GROUP_ASSET_CODE,
        @is_parent = figd.IS_PARENT
    FROM dbo.FA_GROUPING_ASSET_DETAIL figd WITH (NOLOCK)
    INNER JOIN dbo.FA_GROUPING_ASSET fig WITH (NOLOCK) 
        ON figd.FA_GA_CODE = fig.FA_GROUP_ASSET_CODE
    WHERE fig.FA_LOCATION = @p_location
      AND figd.BARCODE = @p_barcode
      AND figd.is_active = '1';

    -- 2. Ambil info header mutation
    SELECT 
        @branch_code = BRANCH_CODE,
        @to_cost_center = TO_COST_CENTER,
        @to_location_code = TO_LOCATION_CODE 
    FROM dbo.FA_REQUEST_MUTATION_HEADER WITH (NOLOCK)
    WHERE CODE_BARCODE = @p_ir_code;

    -- 3. Validasi Duplikat (Cek apakah barcode utama sudah terdaftar)
    IF EXISTS (
        SELECT 1 
        FROM dbo.fa_request_mutation_detail WITH (NOLOCK)
        WHERE item_code = @p_barcode 
          AND ir_code = @p_ir_code
    )
    BEGIN
        RAISERROR('Item already exists', 16, 1);
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        RETURN;     
    END;

    -- 4. Eksekusi Insert
    IF (@fa_item_group_code IS NOT NULL AND @fa_item_group_code <> '' AND ISNULL(@is_parent, 0) = 1)
    BEGIN
        -- INSERT SEMUA ANGGOTA GROUP (Multi-row insert)
        INSERT INTO dbo.fa_request_mutation_detail
        (
            ir_code, item_code, ITEM_DESCRIPTION, BRANCH_CODE, LOCATION_CODE, TO_BRANCH_CODE, TO_LOCATION_CODE,
            cre_date, cre_by, cre_ip_address, 
            mod_date, mod_by, mod_ip_address
        )
        SELECT 
            @p_ir_code, FAD.BARCODE, FAD.NAME_ASSET, @branch_code, @p_location, @to_cost_center, @to_location_code,
            @p_cre_date, @p_cre_by, @p_cre_ip_address, 
            @p_mod_date, @p_mod_by, @p_mod_ip_address
        FROM dbo.FA_GROUPING_ASSET_DETAIL FAD WITH (NOLOCK) 
		INNER JOIN FA_ASSET FA on FAD.FA_ASSET_ID = FA.ID and FAD.BARCODE  = FA.BARCODE
        WHERE FA_GA_CODE = @fa_item_group_code 
          AND is_active = '1'
          AND FAD.BARCODE NOT IN (
              SELECT item_code 
              FROM dbo.fa_request_mutation_detail WITH (NOLOCK)
              WHERE ir_code = @p_ir_code
          );
    END
    ELSE IF (@fa_item_group_code IS NOT NULL AND @fa_item_group_code <> '' AND ISNULL(@is_parent, 0) <> 1)
    BEGIN
        -- Validasi jika item terdaftar dalam group tapi BUKAN Parent
        SET @msg = 'Item Code ' + @p_barcode + ' terdaftar dalam Item Group ' + @fa_item_group_code + '. Silakan lepaskan Item Code tersebut dari Item Group tersebut terlebih dahulu sebelum melanjutkan proses.';
        RAISERROR (@msg, 16, 1);
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        RETURN;
    END
    ELSE
    BEGIN
        -- INSERT SINGLE ITEM
        INSERT INTO dbo.fa_request_mutation_detail
        (
            ir_code, item_code, ITEM_DESCRIPTION, BRANCH_CODE, LOCATION_CODE, TO_BRANCH_CODE, TO_LOCATION_CODE,
            cre_date, cre_by, cre_ip_address, 
            mod_date, mod_by, mod_ip_address
        )
		select 
			@p_ir_code, @p_barcode, FA.AST_NAME, @branch_code, @p_location, @to_cost_center, @to_location_code,
			@p_cre_date, @p_cre_by, @p_cre_ip_address, 
			@p_mod_date, @p_mod_by, @p_mod_ip_address
		from FA_ASSET FA
		where BARCODE= @p_barcode
    END;

END;