ALTER PROCEDURE [dbo].[xsp_fa_sale_detail_getrows]
(
	@p_keywords			nvarchar(50)
	,@p_code_barcode	nvarchar(18)
)as
begin
	select  fsd.id
			,fsd.code_asset		'asset_code'
			,fsd.name_asset		'asset_name'
			,mu.DESCRIPTION      AS 'owner'
			,fsd.description
			,fsd.barcode		'asset_barcode'
			,fsd.sale_value
			--,net_book_value
			,fsd.orig_price
	from	fa_sale_detail fsd
	INNER JOIN dbo.MASTER_ITEM mi WITH (NOLOCK) 
        ON mi.ITEM_CODE = fsd.CODE_ASSET
    INNER JOIN dbo.master_units mu WITH (NOLOCK) 
        ON mi.owner = mu.code 
       AND mu.IS_ACTIVE = 1 
       AND mu.IS_OWNER = 1
	where(
				fsd.code_asset													like '%'+ @p_keywords +'%'
			or	fsd.name_asset													like '%'+ @p_keywords +'%'
			or	fsd.barcode														like '%'+ @p_keywords +'%'
			or	fsd.description													like '%'+ @p_keywords +'%'
			or	convert(nvarchar(25),convert(money,fsd.sale_value), 1)			like '%' + @p_keywords + '%'
			or	convert(nvarchar(25),convert(money,fsd.net_book_value), 1)		like '%' + @p_keywords + '%'
		 )
	and		fsd.fa_sale_code = @p_code_barcode 
	
end