ALTER PROCEDURE [dbo].[xsp_fa_disposal_header_post]
(
    @p_code_barcode            nvarchar(14),
    @p_mod_by                  nvarchar(15),
    @p_mod_date                 datetime,
    @p_mod_ip_address           nvarchar(15)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ast_code                   nvarchar(18),
            @asset_code                 nvarchar(18),
            @from_location_code         nvarchar(50),
            @pic                        nvarchar(15),
            @trans_flag_code            nvarchar(10),
            @disposal_date              datetime,
            @date                       datetime,
            @fa_asset_id                int,
            @code_barcode               nvarchar(18),
            @barcode                    nvarchar(14),
            @count                      int,
            @is_use_operating_leasee    nvarchar(1),
            @cat_code                   nvarchar(10),
            @count_date                 int,
            @branch_code                nvarchar(20),
            @pic_code                   nvarchar(20),
            @object_info                nvarchar(400),
            @branch_description         nvarchar(50),
            @disposal_code              nvarchar(36);

    -- 1. Validasi jumlah detail disposal & ambil disposal code
    SELECT @count = COUNT(id)
    FROM dbo.fa_disposal_detail
    WHERE fa_disposal_code = @p_code_barcode;

    SELECT @disposal_code = CODE
    FROM dbo.fa_disposal_header
    WHERE code_barcode = @p_code_barcode;

    IF @count = 0
    BEGIN
        RAISERROR ('Disposal Request Detail must be inserted!', 16, 1);
        RETURN;
    END;

    -- 2. Validasi tanggal akuisisi vs tanggal disposal
    DECLARE @dc_barcode nvarchar(20);

    DECLARE date_cursor CURSOR FAST_FORWARD LOCAL FOR
    SELECT COUNT(fa.barcode),
           fa.barcode
    FROM dbo.fa_asset fa
    INNER JOIN dbo.fa_disposal_detail fad
        ON (fa.barcode = fad.barcode)
    INNER JOIN dbo.fa_disposal_header fah
        ON (fad.fa_disposal_code = fah.code_barcode)
    WHERE date_purc <= fah.disposal_date
      AND fah.code_barcode = @p_code_barcode
    GROUP BY fa.barcode;

    OPEN date_cursor;
    FETCH NEXT FROM date_cursor INTO @count_date, @dc_barcode;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @count_date = 0
        BEGIN
            CLOSE date_cursor;
            DEALLOCATE date_cursor;
            RAISERROR ('assets are not yet available on that date', 16, 1);
            RETURN;
        END;

        FETCH NEXT FROM date_cursor INTO @count_date, @dc_barcode;
    END;

    CLOSE date_cursor;
    DEALLOCATE date_cursor;

    SET @trans_flag_code = 'DISPOSED';

    -- 3. Loop Update Status Asset, API Fix Asset & History Location
    DECLARE c_asset CURSOR READ_ONLY FOR
    SELECT fdd.barcode,
           fdh.disposal_date,
           fa.current_branch,
           fdd.fa_asset_id,
           fdd.code_asset,
           fdh.cre_by,
           fdh.code_barcode,
           fc.cat_code,
           fa.object_info,
           fa.branch_code,
           fdh.cre_by
    FROM dbo.fa_disposal_header fdh
    INNER JOIN dbo.fa_disposal_detail fdd
        ON (fdh.code_barcode = fdd.fa_disposal_code)
    INNER JOIN dbo.fa_asset fa
        ON (fa.barcode = fdd.barcode)
    INNER JOIN dbo.fa_category fc
        ON (fc.cat_code = fa.cat_code)
    WHERE fdd.fa_disposal_code = @p_code_barcode;

    OPEN c_asset;
    FETCH c_asset INTO @barcode,
                       @disposal_date,
                       @from_location_code,
                       @fa_asset_id,
                       @ast_code,
                       @pic,
                       @code_barcode,
                       @cat_code,
                       @object_info,
                       @branch_code,
                       @pic;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @count = COUNT(id)
        FROM dbo.fa_asset
        WHERE current_branch = @from_location_code
          AND barcode = @barcode;

        IF @count = 0
        BEGIN
            CLOSE c_asset;
            DEALLOCATE c_asset;
            RAISERROR ('Location not supply this asset', 16, 1);
            RETURN;
        END;
        ELSE
        BEGIN
            -- Update Status Asset
            UPDATE dbo.fa_asset
            SET disposal_date = @p_mod_date,
                current_branch = @from_location_code,
                trans_flag_code = UPPER('DISPOSED')
            WHERE barcode = @barcode
              AND id = @fa_asset_id;

            ------------------------------- API Fix Asset -----------------------------------------
            SELECT @branch_description = description
            FROM dbo.master_branch
            WHERE code = @branch_code;

            IF EXISTS
            (
                SELECT asset_code
                FROM dbo.api_fa
                WHERE asset_code = @barcode
            )
            BEGIN
                UPDATE dbo.api_fa
                SET status_asset = UPPER('DISPOSED'),
                    costumer_name = @branch_description,
                    mod_by = @p_mod_by,
                    mod_date = @p_mod_date,
                    mod_ip_address = @p_mod_ip_address
                WHERE asset_code = @barcode;
            END;
            ELSE
            BEGIN
                IF EXISTS
                (
                    SELECT 1
                    FROM dbo.fa_asset
                    WHERE barcode = @barcode
                      AND asset_type = 'VHCL'
                      AND current_branch <> 'COP'
                )
                BEGIN
                    EXEC dbo.xsp_api_fix_asset_insert
                         @branch_code,
                         @barcode,
                         '',
                         @object_info,
                         '',
                         '',
                         '',
                         '',
                         '',
                         @branch_description,
                         @trans_flag_code,
                         @p_mod_date,
                         @p_mod_by,
                         @p_mod_ip_address,
                         'UNPOST',
                         '';
                END;
            END;

            -- Masukkan ke Asset History Location
            EXEC dbo.xsp_fa_asset_history_location_insert
                 0,
                 @barcode,
                 @ast_code,
                 @from_location_code,
                 @from_location_code,
                 @code_barcode,
                 'FD',
                 @disposal_date,
                 @pic,
                 @p_mod_date,
                 @p_mod_by,
                 @p_mod_ip_address,
                 @p_mod_date,
                 @p_mod_by,
                 @p_mod_ip_address;
        END;

        FETCH c_asset INTO @barcode,
                           @disposal_date,
                           @from_location_code,
                           @fa_asset_id,
                           @ast_code,
                           @pic,
                           @code_barcode,
                           @cat_code,
                           @object_info,
                           @branch_code,
                           @pic;
    END;

    CLOSE c_asset;
    DEALLOCATE c_asset;

    -- 4. Loop Deaktivasi Detail Grouping Asset & Insert History Grouping
    DECLARE @ga_detail_id INT,
            @ga_barcode   NVARCHAR(50),
            @ga_code      NVARCHAR(40);

    DECLARE @affected_ga_codes TABLE (
        fa_ga_code NVARCHAR(40) PRIMARY KEY
    );

    DECLARE c_fa_grouping_delete CURSOR FAST_FORWARD LOCAL FOR
        SELECT fad.ID, fad.BARCODE, fad.FA_GA_CODE
        FROM dbo.fa_disposal_detail fdd WITH (NOLOCK)
        INNER JOIN dbo.FA_GROUPING_ASSET_detail fad WITH (NOLOCK) 
            ON fdd.barcode = fad.BARCODE
        INNER JOIN dbo.FA_GROUPING_ASSET fa WITH (NOLOCK) 
            ON fa.FA_GROUP_ASSET_CODE = fad.FA_GA_CODE
        WHERE fdd.fa_disposal_code = @p_code_barcode
          AND fa.is_active = 1
          AND fad.is_active = 1;

    OPEN c_fa_grouping_delete;
    FETCH NEXT FROM c_fa_grouping_delete INTO @ga_detail_id, @ga_barcode, @ga_code;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE dbo.fa_grouping_asset_detail 
        SET IS_ACTIVE = 0,
            MOD_DATE = @p_mod_date,
            MOD_BY = @p_mod_by, 
            MOD_IP_ADDRESS = @p_mod_ip_address
        WHERE id = @ga_detail_id AND BARCODE = @ga_barcode;
        
        EXEC [dbo].[xsp_fa_grouping_asset_history_insert]
            @p_fa_ga_detail_id = @ga_detail_id, 
            @p_barcode         = @ga_barcode,
            @p_action          = 'DELETE',
            @p_move_to         = '',
            @p_doc_reff_no     = @disposal_code,
            @p_cre_date        = @p_mod_date,
            @p_cre_by          = @p_mod_by,
            @p_cre_ip_address  = @p_mod_ip_address,
            @p_mod_date        = @p_mod_date,
            @p_mod_by          = @p_mod_by,
            @p_mod_ip_address  = @p_mod_ip_address;

        IF NOT EXISTS (SELECT 1 FROM @affected_ga_codes WHERE fa_ga_code = @ga_code)
        BEGIN
            INSERT INTO @affected_ga_codes (fa_ga_code) VALUES (@ga_code);
        END;

        FETCH NEXT FROM c_fa_grouping_delete INTO @ga_detail_id, @ga_barcode, @ga_code;
    END;

    CLOSE c_fa_grouping_delete;
    DEALLOCATE c_fa_grouping_delete;

    -- 5. Loop Re-assign IS_PARENT = 1 untuk sisa item aktif
    DECLARE @current_ga_code NVARCHAR(40);
    DECLARE @new_parent_id INT;

    DECLARE c_reassign_parent CURSOR FAST_FORWARD LOCAL FOR
        SELECT fa_ga_code FROM @affected_ga_codes;

    OPEN c_reassign_parent;
    FETCH NEXT FROM c_reassign_parent INTO @current_ga_code;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF NOT EXISTS (
            SELECT 1 
            FROM dbo.FA_GROUPING_ASSET_detail 
            WHERE FA_GA_CODE = @current_ga_code 
              AND IS_ACTIVE = 1 
              AND IS_PARENT = 1
        )
        BEGIN
            SELECT TOP 1 @new_parent_id = ID
            FROM dbo.FA_GROUPING_ASSET_detail
            WHERE FA_GA_CODE = @current_ga_code
              AND IS_ACTIVE = 1
            ORDER BY ID ASC;

            IF @new_parent_id IS NOT NULL
            BEGIN
                UPDATE dbo.FA_GROUPING_ASSET_detail
                SET IS_PARENT = 1,
                    MOD_DATE = @p_mod_date,
                    MOD_BY = @p_mod_by,
                    MOD_IP_ADDRESS = @p_mod_ip_address
                WHERE ID = @new_parent_id;
            END;
        END;

        FETCH NEXT FROM c_reassign_parent INTO @current_ga_code;
    END;

    CLOSE c_reassign_parent;
    DEALLOCATE c_reassign_parent;

    -- 6. Update Status Header Disposal
    UPDATE dbo.fa_disposal_header
    SET trans_flag_code = 'POST',
        mod_by = @p_mod_by,
        mod_date = @p_mod_date,
        mod_ip_address = @p_mod_ip_address
    WHERE code_barcode = @p_code_barcode;

END;