ALTER PROCEDURE [dbo].[xsp_approvel_review_application_getrows]
(
	@p_keywords			nvarchar(50)
	,@p_code_barcode	nvarchar(14) = ''
)as
begin
	
	select	ars.last_status
			,concat(em.emp_name, ' - ',em.EMP_CODE , ' - ', ISNULL(mu.DESCRIPTION,''),'') emp_name
			,art.read_date
			,ars.level_approval
			,ars.remarks
			,em.EMP_CODE
	from	approval_request_schedule ars
			left join approval_request_target art on (ars.ar_target_id = art.id and ars.emp_code = art.target_id)
			left join dbo.employee_main em on (em.emp_code = ars.emp_code)
			left join MASTER_UNITS mu with (nolock) on em.UNITS_CODE = mu.CODE
	WHERE	ars.object_id = @p_code_barcode
	and(		ars.last_status		    LIKE '%' + @p_keywords + '%'
			or	em.emp_name				LIKE '%' + @p_keywords + '%'
			or	convert(nvarchar(20), art.read_date, 103)	LIKE '%' + @p_keywords + '%'
			OR  ars.level_approval		like '%' + @p_keywords + '%'
			OR	ars.remarks				LIKE '%' + @p_keywords + '%'
		)
	order by LEVEL_APPROVAL
	
end



