if not exists (select 1 from master_report where name='GROUPING ASSET REPORT')
begin
insert into master_report
	select 'GROUPING ASSET REPORT','RPT_FA_GROUPING_ASSET','xsp_rpt_fa_item_group','rptfaitemgroup.aspx','rpt_fa_item_group.rpt','FA',getdate(),'1000000001','127.0.0.1',getdate(),'1000000001','127.0.0.1'
end
else
SELECT 'REPORT GROUPING ASSET REPORT ALREADY EXIST'