CREATE PROCEDURE [dbo].[xsp_grn_cancel]
(
    @p_code_barcode     NVARCHAR(14),
    @p_mod_by           NVARCHAR(15),
    @p_mod_date         DATETIME,
    @p_mod_ip_address   NVARCHAR(15)
)
AS
BEGIN

SET NOCOUNT ON;
SET XACT_ABORT ON;

BEGIN TRY
BEGIN TRAN;

DECLARE
    @trx_dbcr_c            NVARCHAR(1) = 'C',
    @ctr                   INT,
    @item_code             NVARCHAR(10),
    @location_code         NVARCHAR(10),
    @lot_code              NVARCHAR(10),
    @rak_code              NVARCHAR(10),
    @slot_code             NVARCHAR(10),
    @branch_code           NVARCHAR(10),
    @purchase_order_code   NVARCHAR(20),
    @id_ic                 INT = 0,
    @trx_date              DATETIME = @p_mod_date,
    @trx_period            NVARCHAR(6),
    @trx_code              NVARCHAR(20),
    @DOCUMENT_NO           NVARCHAR(50),
    @trx_type              NVARCHAR(5),
    @NewQty                DECIMAL(18,2),
    @NewOutQty             DECIMAL(18,2),
    @NewOnhandQty          DECIMAL(18,2),
    @unit_price            DECIMAL(18,2),
    @AVAILABLE_OUT_QTY     DECIMAL(18,2),
    @description           NVARCHAR(400),
    @currency_code         NVARCHAR(3),
    @ORIG_AMOUNT           DECIMAL(18,2),
    @EXCH_RATE             DECIMAL(18,2),
    @FEE_ORIG_AMOUNT       DECIMAL(18,2),
    @FEE_AMOUNT            DECIMAL(18,2),
    @HPP_AMOUNT            DECIMAL(18,2),
    @p_fa_barcode          NVARCHAR(100),
    @p_asset_type          NVARCHAR(10),
	@branch_description	   NVARCHAR(50)

SET @trx_period = CONVERT(CHAR(6), @trx_date, 112);

SELECT
    grnd.ITEM_CODE,
    grnd.PO_QUANTITY,
    grnd.RECEIVE_QUANTITY,
    grnd.REMAINING_QUANTITY,
    grnd.ID,
    grnd.LOCATION_CODE,
    grnd.LOT_CODE,
    grnd.RAK_CODE,
    grnd.SLOT_CODE,
    grnh.CODE,
    grnh.SUPPLIER_CODE,
    grnh.RECEIVE_DATE,
    mi.ITEM_NAME,
    mi.jenis_item,
    grnh.RATING,
    grnd.UNIT_PRICE,
    grnh.BRANCH_CODE,
    grnh.CODE_BARCODE,
    grnh.PURCHASE_ORDER_CODE
INTO #tmp_grn
FROM dbo.GOOD_RECEIPT_NOTE_DETAIL grnd
JOIN dbo.GOOD_RECEIPT_NOTE_HEADER grnh
    ON grnh.CODE_BARCODE = grnd.GRN_CODE
JOIN dbo.MASTER_ITEM mi
    ON mi.ITEM_CODE = grnd.ITEM_CODE
WHERE grnd.GRN_CODE = @p_code_barcode;

SELECT
    PURCHASE_ORDER_CODE,
    ITEM_CODE,
    SUM(RECEIVE_QUANTITY) AS TOTAL_RECEIVE_QTY
INTO #tmp_po_qty
FROM #tmp_grn
GROUP BY
    PURCHASE_ORDER_CODE,
    ITEM_CODE;

SELECT @ctr = COUNT(*) FROM #tmp_grn;

IF (@ctr = 0)
BEGIN
    RAISERROR('Data GRN tidak ditemukan',16,1)
    ROLLBACK TRAN
    RETURN
END

IF EXISTS
(
    SELECT 1
    FROM GOOD_RECEIPT_NOTE_HEADER
    WHERE CODE_BARCODE = @p_code_barcode
    AND trans_flag_code = 'CANCEL'
)
BEGIN
    RAISERROR('GRN sudah pernah di cancel',16,1)
    ROLLBACK TRAN
    RETURN
END

IF EXISTS (SELECT 1 FROM #tmp_grn WHERE jenis_item = 'IC')
BEGIN

    ;WITH last_inventory AS
    (
        SELECT
            MAX(ic.ID) AS ID,
            ic.ITEM_CODE,
            ic.LOCATION_CODE,
            ic.BRANCH_CODE
        FROM dbo.INVENTORY_CARD ic WITH (UPDLOCK, HOLDLOCK)
        INNER JOIN
        (
            SELECT DISTINCT
                ITEM_CODE,
                LOCATION_CODE,
                BRANCH_CODE
            FROM #tmp_grn
            WHERE jenis_item = 'IC'
        ) g
            ON g.ITEM_CODE = ic.ITEM_CODE
           AND g.LOCATION_CODE = ic.LOCATION_CODE
           AND g.BRANCH_CODE = ic.BRANCH_CODE
        GROUP BY
            ic.ITEM_CODE,
            ic.LOCATION_CODE,
            ic.BRANCH_CODE
    )
    SELECT
        ic.BRANCH_CODE,
        ic.TRX_CODE,
        ic.DOCUMENT_NO,
        ic.TRX_TYPE,
        ic.ITEM_CODE,
        ic.LOCATION_CODE,
        ic.UNIT_PRICE,
        ic.AVAILABLE_OUT_QTY,
        ic.DESCRIPTION,
        ic.LOT_CODE,
        ic.RAK_CODE,
        ic.SLOT_CODE,
        ic.FEE_AMOUNT,
        ic.HPP_AMOUNT,
        ic.CURRENCY_CODE,
        ic.ORIG_AMOUNT,
        ic.EXCH_RATE,
        ic.FEE_ORIG_AMOUNT,
        NewQty       = CAST(0 AS DECIMAL(18,2)),
        NewOutQty    = g.RECEIVE_QUANTITY,
        NewOnhandQty = li.ONHAND_QTY - g.RECEIVE_QUANTITY
    INTO #ic_source
    FROM dbo.INVENTORY_CARD ic
    INNER JOIN #tmp_grn g
        ON g.CODE_BARCODE = ic.TRX_CODE
       AND g.ITEM_CODE = ic.ITEM_CODE
       AND g.LOCATION_CODE = ic.LOCATION_CODE
       AND g.BRANCH_CODE = ic.BRANCH_CODE
       AND g.jenis_item = 'IC'
    INNER JOIN last_inventory lik
        ON lik.ITEM_CODE = ic.ITEM_CODE
       AND lik.LOCATION_CODE = ic.LOCATION_CODE
       AND lik.BRANCH_CODE = ic.BRANCH_CODE
    INNER JOIN dbo.INVENTORY_CARD li WITH (UPDLOCK, HOLDLOCK)
        ON li.ID = lik.ID
    WHERE ic.TRX_CODE = @p_code_barcode;

    IF EXISTS (SELECT 1 FROM #ic_source WHERE NewOnhandQty < 0)
    BEGIN
        RAISERROR ('Stock tidak mencukupi untuk cancel GRN',16,1);
        ROLLBACK TRAN
        RETURN;
    END

    DECLARE cur_ic CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        BRANCH_CODE,
        TRX_CODE,
        DOCUMENT_NO,
        TRX_TYPE,
        ITEM_CODE,
        LOCATION_CODE,
        NewQty,
        NewOutQty,
        NewOnhandQty,
        UNIT_PRICE,
        AVAILABLE_OUT_QTY,
        DESCRIPTION,
        LOT_CODE,
        RAK_CODE,
        SLOT_CODE,
        FEE_AMOUNT,
        HPP_AMOUNT,
        CURRENCY_CODE,
        ORIG_AMOUNT,
        EXCH_RATE,
        FEE_ORIG_AMOUNT
    FROM #ic_source;

    OPEN cur_ic;
    FETCH NEXT FROM cur_ic INTO
        @branch_code,@trx_code,@DOCUMENT_NO,@trx_type,@item_code,@location_code,
        @NewQty,@NewOutQty,@NewOnhandQty,@unit_price,@AVAILABLE_OUT_QTY,@description,
        @lot_code,@rak_code,@slot_code,@FEE_AMOUNT,@HPP_AMOUNT,@currency_code,
        @ORIG_AMOUNT,@EXCH_RATE,@FEE_ORIG_AMOUNT;

    WHILE @@FETCH_STATUS = 0
    BEGIN

        EXEC dbo.xsp_inventory_card_insert
            @id_ic OUTPUT,
            @branch_code,
            @trx_code,
            @DOCUMENT_NO,
            @trx_date,
            @trx_type,
            @item_code,
            @location_code,
            'C',
            @NewQty,
            @NewOutQty,
            @NewOnhandQty,
            @unit_price,
            @AVAILABLE_OUT_QTY,
            @description,
            @p_mod_date,
            @p_mod_by,
            @p_mod_ip_address,
            @p_mod_date,
            @p_mod_by,
            @p_mod_ip_address,
            @lot_code,
            @rak_code,
            @slot_code,
            @trx_period,
            @FEE_AMOUNT,
            @currency_code,
            @ORIG_AMOUNT,
            @EXCH_RATE,
            @FEE_ORIG_AMOUNT,
            @hpp_amount;

        FETCH NEXT FROM cur_ic INTO
            @branch_code,@trx_code,@DOCUMENT_NO,@trx_type,@item_code,@location_code,
            @NewQty,@NewOutQty,@NewOnhandQty,@unit_price,@AVAILABLE_OUT_QTY,@description,
            @lot_code,@rak_code,@slot_code,@FEE_AMOUNT,@HPP_AMOUNT,@currency_code,
            @ORIG_AMOUNT,@EXCH_RATE,@FEE_ORIG_AMOUNT;

    END

    CLOSE cur_ic;
    DEALLOCATE cur_ic;

END

IF EXISTS (SELECT 1 FROM #tmp_grn WHERE jenis_item = 'FA')
BEGIN
    SELECT
         fa.BARCODE AS FA_BARCODE,
         fa.asset_type AS ASSET_TYPE
    INTO #tmp_asset
    FROM FA_ASSET fa
    INNER JOIN #tmp_grn g
        ON fa.AST_CODE = g.ITEM_CODE
       AND fa.PO_CODE = g.PURCHASE_ORDER_CODE
       AND fa.GRN_CODE = g.CODE_BARCODE
       AND g.jenis_item = 'FA' 
	   AND fa.GRN_CODE =@p_code_barcode;

    DECLARE cur_asset CURSOR LOCAL FAST_FORWARD FOR
        SELECT FA_BARCODE, ASSET_TYPE FROM #tmp_asset;

    OPEN cur_asset;
    FETCH NEXT FROM cur_asset INTO @p_fa_barcode, @p_asset_type;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @p_asset_type = 'VHCL'
		BEGIN 
            DELETE FA_ASSET_VEHICLE WHERE ASSET_NO = @p_fa_barcode;
			 IF EXISTS (SELECT 1 FROM dbo.fa_asset WHERE barcode = @p_fa_barcode AND current_branch <> 'COP')
				BEGIN
					select @branch_code = fa.BRANCH_CODE, @branch_description = mb.DESCRIPTION
					from fa_asset fa
					inner join master_branch mb on fa.BRANCH_CODE = mb.CODE
					WHERE barcode = @p_fa_barcode

					-- insert untuk api -- 
					EXEC dbo.xsp_api_fix_asset_insert
						 @branch_code,
						 @p_fa_barcode,
						 '',
						 '',
						 '',
						 '',
						 '',
						 '',
						 '',
						 @branch_description,
						 'CANCEL',
						 @p_mod_date,
						 @p_mod_by,
						 @p_mod_ip_address,
						 'UNPOST',
						 '';
				END;
		END
        ELSE IF @p_asset_type = 'ELCT'
            DELETE fa_asset_electronic WHERE ASSET_NO = @p_fa_barcode;
        ELSE IF @p_asset_type = 'FNTR'
            DELETE fa_asset_furniture WHERE ASSET_NO = @p_fa_barcode;
        ELSE IF @p_asset_type = 'MCHN'
            DELETE fa_asset_machine WHERE ASSET_NO = @p_fa_barcode;
        ELSE IF @p_asset_type = 'OTHR'
            DELETE fa_asset_others WHERE ASSET_NO = @p_fa_barcode;
        ELSE IF @p_asset_type = 'PRTY'
            DELETE fa_asset_property WHERE ASSET_NO = @p_fa_barcode;

        DELETE FA_ASSET_BARCODE_IMAGE WHERE BARCODE = @p_fa_barcode;
		DELETE FA_ASSET WHERE BARCODE = @p_fa_barcode and TRANS_FLAG_CODE = 'INPROGRESS'; 

        FETCH NEXT FROM cur_asset INTO @p_fa_barcode, @p_asset_type;

    END

    CLOSE cur_asset;
    DEALLOCATE cur_asset;

END

UPDATE dbo.good_receipt_note_header
SET
    trans_flag_code = 'CANCEL',
    mod_date        = @p_mod_date,
    mod_by          = @p_mod_by,
    mod_ip_address  = @p_mod_ip_address
WHERE code_barcode = @p_code_barcode;

UPDATE grd
SET
    RECEIVE_QUANTITY = 0,
    REMAINING_QUANTITY = ISNULL(t.REMAINING_QUANTITY,0) + ISNULL(t.RECEIVE_QUANTITY,0)
FROM dbo.good_receipt_note_detail grd
INNER JOIN #tmp_grn t
    ON grd.GRN_CODE = t.CODE_BARCODE
   AND grd.ITEM_CODE = t.ITEM_CODE
WHERE grd.GRN_CODE = @p_code_barcode;

UPDATE pod
SET pod.ORDER_REMAINING = pod.ORDER_REMAINING + ISNULL(grn.TOTAL_RECEIVE_QTY,0)
FROM PURCHASE_ORDER_DETAIL pod
INNER JOIN #tmp_po_qty grn
    ON pod.po_code = grn.PURCHASE_ORDER_CODE
   AND pod.ITEM_CODE = grn.ITEM_CODE;

update poh
set poh.TRANS_FLAG_CODE = 'POST'
from PURCHASE_ORDER_HEADER poh
INNER JOIN #tmp_po_qty grn
    ON poh.code_barcode = grn.PURCHASE_ORDER_CODE

DROP TABLE IF EXISTS #ic_source;
DROP TABLE IF EXISTS #tmp_grn;
DROP TABLE IF EXISTS #tmp_asset;
DROP TABLE IF EXISTS #tmp_po_qty;

COMMIT TRAN;

END TRY
BEGIN CATCH

IF @@TRANCOUNT > 0
    ROLLBACK TRAN;

THROW;

END CATCH

END