ALTER PROCEDURE [dbo].[xsp_inventory_mutation_header_post]
(
	@p_code_barcode				nvarchar(14)
	,@p_mod_by					nvarchar(15)
	,@p_mod_date				datetime
	,@p_mod_ip_address			nvarchar(15)
) as
begin
	SET NOCOUNT ON;	
	declare	@from_location			nvarchar(10)
			,@to_location			nvarchar(10)
			,@branch_code			nvarchar(10) 
			,@trx_code				nvarchar(20)
			,@trx_date				datetime
			,@trx_type				nvarchar(5)
			,@item_code				nvarchar(10)
			,@trx_dbcr				nvarchar(1)
			,@trx_dbcr_c			nvarchar(1)
			,@quantity				decimal(18,2)
			,@out_qty				decimal(18,2)
			,@onhand_qty			decimal(18,2)
			,@description			nvarchar(400)
			,@quantity_ic			decimal(18,2)
			,@out_qty_ic			decimal(18,2)
			,@onhand_qty_ic			decimal(18,2)
			,@ctr					int
			,@max_id				INT
			,@quantity_ic_from		decimal(18,2)
			,@out_qty_ic_from		decimal(18,2)
			,@onhand_qty_ic_from	decimal(18,2)
			,@quantity_from			decimal(18,2)
			,@out_qty_from			decimal(18,2)
			,@onhand_qty_from		decimal(18,2)
			,@count_iven			int
			,@count					int
			,@unit_price			decimal(18,2)
			,@from_lot_code			nvarchar(10)
			,@from_rak_code			nvarchar(10)
			,@from_slot_code		nvarchar(10)
			,@to_lot_code			nvarchar(10)
			,@to_rak_code			nvarchar(10)
			,@to_slot_code			nvarchar(10)      
			,@trx_period			nvarchar(6)   
			,@trx_code_real			nvarchar(20) 
			,@hpp_amount			DECIMAL(18,2)
			,@storage_control_from	NVARCHAR(1)
			,@storage_control_to	NVARCHAR(1)
			,@available_out_item_first	DECIMAL(18,2)
			,@available_out_item	DECIMAL(18,2)
			,@available_out_item2	DECIMAL(18,2)
			,@min_id				INT
			,@min_id2				INT
			,@min_id3				int
			,@sum_available_out		DECIMAL(18,2)
			,@start_trancount		INT
			,@is_upload				BIT
	
	SELECT	@start_trancount = @@TRANCOUNT
			,@is_upload = ISNULL(is_upload, 0)
	FROM	dbo.inventory_mutation_header
	WHERE	code_barcode = @p_code_barcode

	BEGIN TRY
	IF @start_trancount = 0
		BEGIN TRANSACTION;
	ELSE
		SAVE TRANSACTION inventory_mut_post_save;
	-- munculin raiserror pada saat purchase request belum di input
		select	@count = count(id)
		from	inventory_mutation_detail
		where	im_code = @p_code_barcode 
	
	
		if @count = 0
		begin 
			raiserror ('Mutation Request Detail must be inserted!', 16, 1)
		end	
	
		-- munculin raiserror pada saat quantity belum ada
		select	@count = count(id)
		from	inventory_mutation_detail
		where	im_code = @p_code_barcode 
		and		quantity = 0.00
	
		if @count > 0
		begin 
			raiserror ('Quantity is 0!, Please must be input more than 0! ', 16, 1)
		end	
	
	
			
		-- set default value
		set		@trx_type	= 'IM'
		set		@trx_dbcr	= 'D'
		SET		@trx_dbcr_c	= 'C'
		set		@out_qty	= 0

	
		-- looping untuk seluruh item di Mutation yang tipe nya INVENTORY
		declare	c_main cursor for
		select	imd.im_code
				,imd.item_code
				,imd.quantity
				,imh.remarks
				--
				,imh.BRANCH_CODE
				,imh.mutation_date
				,imh.from_location
				,imh.to_location
				-----------------------
				,ISNULL(imh.from_lot,'')
				,ISNULL(imh.from_rak,'')
				,ISNULL(imh.from_slot,'')
				,ISNULL(imh.to_lot,'')
				,ISNULL(imh.to_rak,'')
				,ISNULL(imh.to_slot,'')
				,imh.code
		from	dbo.inventory_mutation_detail imd
				inner join dbo.master_item mi on (mi.item_code = imd.item_code)
				inner join dbo.inventory_mutation_header imh on (imh.code_barcode = imd.im_code)		
		where	imd.im_code		= @p_code_barcode
		and		(mi.jenis_item = 'IT' or mi.jenis_item = 'IC')
	
		open	c_main
		fetch	c_main
		into	@trx_code
				,@item_code
				,@quantity
				,@description
				,@branch_code
				,@trx_date	
				,@from_location
				,@to_location
				-----------------
				,@from_lot_code
				,@from_rak_code
				,@from_slot_code
				,@to_lot_code
				,@to_rak_code
				,@to_slot_code
				,@trx_code_real
		
		while	@@fetch_status = 0
		BEGIN
    
			IF @from_location is NULL OR @from_location = '-' OR @from_location = '--'
			 begin	
				raiserror ('From Location Harap Diisi',16,1)
			 END

			 IF @to_location IS null OR @to_location = '-' OR @to_location = '--'
			 begin	
				raiserror ('To Location Harap Diisi',16,1)
			 END
   
		SELECT @storage_control_to = STORAGE_CONTROL
		FROM dbo.MASTER_LOCATION
		WHERE CODE = @to_location

		PRINT @storage_control_to


		if(@storage_control_to = 'Y')
		BEGIN
		PRINT 'masuk'
			 IF @to_lot_code = '' OR @to_lot_code = '-' OR @to_lot_code = '--'
			 begin	
				raiserror ('TO Lot Code Harap Diisi',16,1)
			 END
         
			 IF @to_rak_code = '' OR @to_rak_code = '-' OR @to_rak_code = '--'
			 begin	
				raiserror ('TO Rak Code Harap Diisi',16,1)
			 END
         
			 IF @to_slot_code = '' OR @to_slot_code = '-' OR @to_slot_code = '--'
			 begin	
				raiserror ('TO Slot Code Harap Diisi',16,1)
			 END
		  end
		
	
         
		SELECT @storage_control_from = STORAGE_CONTROL
		FROM dbo.MASTER_LOCATION
		WHERE CODE = @from_location

		if(@storage_control_from = 'Y')
		BEGIN

			 IF @from_lot_code = '' OR @from_lot_code = '-' OR @from_lot_code = '--'
			 begin	
				raiserror ('From Lot Code Harap Diisi',16,1)
			 END
         
			 IF @from_rak_code = '' OR @from_rak_code = '-' OR @from_rak_code = '--'
			 begin	
				raiserror ('From Rak Code Harap Diisi',16,1)
			 END
         
			 IF @from_slot_code = '' OR @from_slot_code = '-' OR @from_slot_code = '--'
			 begin	
				raiserror ('From Slot Code Harap Diisi',16,1)
			 END
		  end
	

			/*setting period*/
			set @trx_period = null
			set	@trx_period = convert(nvarchar,year(@trx_date)) + replace(str(month(@trx_date),2,0),' ','0') 
			/*--------------*/

			-- proses keluar barang
			select	@ctr		= isnull(sum(id),0)
			from	dbo.inventory_card
			where	item_code		= @item_code
			and		location_code	= @from_location
			AND		BRANCH_CODE		= @branch_code
			and		(lot_code		= @from_lot_code OR @from_lot_code = '')
			and		(rak_code		= @from_rak_code OR @from_rak_code = '')
			and		(slot_code		= @from_slot_code OR @from_slot_code = '')

			if(@ctr	= 0)
			begin
		
				set	@onhand_qty	= @quantity
		
			end
			else
			begin
		
				--cari max idnya untuk from location	
				SELECT @max_id		= MAX(id)

				from	dbo.inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')

				SELECT @min_id		= min(id)

				from	dbo.inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		AVAILABLE_OUT_QTY <> 0


				select	@quantity_ic	= isnull(sum(quantity),0) 
						,@out_qty_ic	= isnull(sum(out_qty), 0)
						--,@unit_price	= isnull(sum(unit_price),0) --error disini
					

				from	dbo.inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')

				set		@onhand_qty_ic	= @quantity_ic - @out_qty_ic
			
				set		@onhand_qty		= @onhand_qty_ic - @quantity 

				SELECT @hpp_amount		= ISNULL(HPP_AMOUNT,0)
				FROM   dbo.INVENTORY_CARD
				WHERE ID				= @max_id

				SELECT @unit_price		= ISNULL(unit_price,0)  --benerin disini
				FROM   dbo.INVENTORY_CARD
				WHERE ID				= @max_id

				select	@sum_available_out = ISNULL(SUM(AVAILABLE_OUT_QTY),0)
				from	dbo.inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		id < @max_id

		

				SELECT @available_out_item_first = ISNULL(AVAILABLE_OUT_QTY,0)
				FROM dbo.INVENTORY_CARD
				WHERE ID = @min_id
		
				IF @available_out_item_first > @quantity 
				BEGIN
		
				SET @available_out_item = @available_out_item_first - @quantity
				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = @available_out_item
				WHERE id = @min_id
				END

			IF @available_out_item_first <= @quantity
			BEGIN
		
				SET @available_out_item2 = @available_out_item_first - @quantity
			
				IF @available_out_item2 < 0 
				BEGIN
         
				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = 0
				WHERE id = @min_id
				END
			  end  
				IF @available_out_item2 <= 0 AND @sum_available_out > @quantity
				BEGIN
        
				SELECT @min_id2 = MIN(id)

				from	inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		AVAILABLE_OUT_QTY <> 0 
					
				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = @quantity - @available_out_item_first 
				WHERE id = @min_id2
				END
            
				IF @sum_available_out = @quantity AND @available_out_item2 < 0 
				BEGIN
            
				SELECT @min_id2 = MIN(id)

				from	inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		AVAILABLE_OUT_QTY <> 0 
		
				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = 0
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		id <= @min_id2

				END

				IF @sum_available_out < @quantity AND @available_out_item2 < 0 
				begin
			
				SELECT @min_id3 = MIN(id)

				from	inventory_card
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		AVAILABLE_OUT_QTY <> 0 
				AND		AVAILABLE_OUT_QTY > @quantity


				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = AVAILABLE_OUT_QTY + @sum_available_out - @quantity
				WHERE id = @min_id3

			
				UPDATE dbo.INVENTORY_CARD
				SET AVAILABLE_OUT_QTY = 0
				where	item_code		= @item_code
				and		location_code	= @from_location
				AND		BRANCH_CODE		= @branch_code
				and		(lot_code		= @from_lot_code OR @from_lot_code = '')
				and		(rak_code		= @from_rak_code OR @from_rak_code = '')
				and		(slot_code		= @from_slot_code OR @from_slot_code = '')
				AND		id < @min_id3

				END


				--exec	dbo.xsp_inventory_issue_update_average 
				--		@item_code
				--		,0
				--		,@from_location
				--		,@branch_code
				--		,@p_mod_by
				--		,@p_mod_date
				--		,@p_mod_ip_address
				--		,@hpp_amount output
				--		,@from_lot_code
				--		,@from_rak_code
				--		,@from_slot_code
				--		,@unit_price
				--		,@trx_code
			
			
			end
		
		
			--
			set @out_qty = @quantity
		
			--validasi cek lokasi dan item
			select	@count_iven = count(id)
			from	dbo.inventory_card
			where	location_code	= @from_location
			and		item_code		= @item_code
			AND		BRANCH_CODE		= @branch_code
			and		(lot_code		= @from_lot_code OR @from_lot_code = '')
			and		(rak_code		= @from_rak_code OR @from_rak_code = '')
			and		(slot_code		= @from_slot_code OR @from_slot_code = '')
		
			if @count_iven = 0
			 begin	
				raiserror ('Location not supply this item',16,1)
			 end
			 else
			 begin
				--exec yang dari from	location
				exec dbo.xsp_inventory_card_insert
					 0
					,@branch_code
					,@trx_code
					,@trx_code_real
					,@trx_date
					,@trx_type
					,@item_code
					,@from_location
					,@trx_dbcr_c
					,0
					,@out_qty
					,@onhand_qty
					,@hpp_amount
					,0
					,@description
					,@p_mod_date 
					,@p_mod_by 
					,@p_mod_ip_address 
					,@p_mod_date 
					,@p_mod_by 
					,@p_mod_ip_address 
					-------------------
					,@from_lot_code
					,@from_rak_code
					,@from_slot_code
					,@trx_period
					,0
					,'IDR'
					,@unit_price
					,1
					,0
					,@hpp_amount
		
			end
		
			fetch	c_main
			into	@trx_code
					,@item_code
					,@quantity
					,@description
					,@branch_code
					,@trx_date	
					,@from_location
					,@to_location
					-----------------
					,@from_lot_code
					,@from_rak_code
					,@from_slot_code
					,@to_lot_code
					,@to_rak_code
					,@to_slot_code
					,@trx_code_real
		end
			
		close		c_main
		deallocate	c_main

		

		-- update status MUTATION menjadi POST
		update	inventory_mutation_header
		set		trans_flag_code			= 'POST'
				,mod_by					= @p_mod_by
				,mod_date				= @p_mod_date
				,mod_ip_address			= @p_mod_ip_address
		where	code_barcode			= @p_code_barcode

		UPDATE dbo.INVENTORY_MUTATION_DETAIL
		SET		STATUS				= 'SENT'
		WHERE  IM_CODE = @p_code_barcode

	IF @start_trancount = 0
		COMMIT TRANSACTION;
END TRY
BEGIN CATCH -- Iproc Phase III : Bulk Upload POST 
        DECLARE @ErrMSG NVARCHAR(MAX) = ERROR_MESSAGE();

        -- Tutup Cursor jika terjadi error di tengah jalan
        IF CURSOR_STATUS('local', 'c_main') >= 0 CLOSE c_main;
        IF CURSOR_STATUS('local', 'c_main') > -3 DEALLOCATE c_main;

        -- Rollback hanya proses di SP ini supaya transaction parent approval tetap utuh.
        IF XACT_STATE() <> 0
        BEGIN
            IF @start_trancount = 0
                ROLLBACK TRANSACTION;
            ELSE IF XACT_STATE() = 1
                ROLLBACK TRANSACTION inventory_mut_post_save;
        END

        IF ISNULL(@is_upload, 0) = 1
        BEGIN
			DECLARE @v_raw_info NVARCHAR(MAX);
            SET @v_raw_info = 'From:' + ISNULL(RTRIM(LTRIM(@from_location)), '-') + 
                              '|To:' + ISNULL(RTRIM(LTRIM(@to_location)), '-') + 
                              '|Ava:' + CAST(ISNULL(@onhand_qty_ic, 0) AS VARCHAR) + 
                              '|Req:' + CAST(ISNULL(@quantity, 0) AS VARCHAR);

            INSERT INTO [dbo].[APP_PROCESS_ERROR_LOG] (
                CODE_BARCODE,
                PROCESS_NAME,
                BARCODE,
				QUANTITY,
                ROW_NUMBER,
                ERROR_MESSAGE, 
                RAW_DATA,
                CRE_DATE,
                CRE_BY,
                CRE_IP_ADDRESS
            )
            VALUES (
                @p_code_barcode,
                'POST_INVENTORY_MUTATION_ERROR',
                ISNULL(@item_code, '-'),
				@quantity,
                0,                 
                @ErrMSG,
                @v_raw_info,
                GETDATE(),
                @p_mod_by,
                @p_mod_ip_address
            );

            RAISERROR ('ERROR, silahkan check log error pada tab POST Upload Mutation History di Inventory Mutation.', 16, 1);
            RETURN;
        END

        RAISERROR (@ErrMSG, 16, 1);
    END CATCH
END