ALTER PROCEDURE [dbo].[xsp_inventory_mutation_header_update_validasi]
(
	@p_code_barcode				nvarchar(14)
	,@p_mod_by					nvarchar(15)
	,@p_mod_date				DATETIME
	,@p_mod_ip_address			nvarchar(15)
	,@p_is_flag					NVARCHAR(1) output
)as
BEGIN
	declare	@from_location			nvarchar(10)
			,@to_location			nvarchar(10)
			,@branch_code			nvarchar(10) 
			,@trx_code				nvarchar(20)
			,@trx_date				datetime
			,@trx_type				nvarchar(5)
			,@item_code				nvarchar(10)
			,@trx_dbcr				nvarchar(1)
			,@trx_dbcr_c			nvarchar(1)
			,@quantity				decimal(18,2)
			,@out_qty				decimal(18,2)
			,@onhand_qty			decimal(18,2)
			,@description			nvarchar(400)
			,@quantity_ic			decimal(18,2)
			,@out_qty_ic			decimal(18,2)
			,@onhand_qty_ic			decimal(18,2)
			,@ctr					int
			,@max_id				INT
			,@quantity_ic_from		decimal(18,2)
			,@out_qty_ic_from		decimal(18,2)
			,@onhand_qty_ic_from	decimal(18,2)
			,@quantity_from			decimal(18,2)
			,@out_qty_from			decimal(18,2)
			,@onhand_qty_from		decimal(18,2)
			,@count_iven			int
			,@count					int
			,@unit_price			decimal(18,2)          
			,@from_lot_code			nvarchar(10)
			,@from_rak_code			nvarchar(10)
			,@from_slot_code		nvarchar(10)
			,@to_lot_code			nvarchar(10)
			,@to_rak_code			nvarchar(10)
			,@to_slot_code			nvarchar(10)      
			,@trx_period			nvarchar(6)   
			,@trx_code_real			nvarchar(20) 
			,@hpp_amount			decimal(18,2)
			,@storage_control_from		NVARCHAR(1)
			,@storage_control_to		NVARCHAR(1)
			,@description_header1		NVARCHAR(400)
			,@description_header2		NVARCHAR(400)

	SELECT @description_header1 = EXPEDITION_DESCRIPTION
		,@description_header2 = REMARKS
	FROM dbo.INVENTORY_MUTATION_HEADER 
	WHERE CODE_BARCODE = @p_code_barcode

	if (@description_header1 = '' OR @description_header1 IS NULL)
	begin 
		raiserror ('Descriptions belum Diisi!', 16, 1)
	return 0;
		set @p_is_flag = '1'  
	end	

	select	@count = count(id)
	from	inventory_mutation_detail
	where	im_code = @p_code_barcode 
	
	
	if @count = 0
	begin 
		raiserror ('Mutation Request Detail must be inserted!', 16, 1)
	return 0;
		set @p_is_flag = '1'  
	end	
	
	select	@count = count(id)
	from	inventory_mutation_detail
	where	im_code = @p_code_barcode 
	and		quantity = 0.00
	
	if @count > 0
	begin 
		raiserror ('Quantity is 0!, Please must be input more than 0! ', 16, 1)
	return 0;
		set @p_is_flag = '1'  
	end	
					
	set		@trx_type	= 'IM'
	set		@trx_dbcr	= 'D'
	SET		@trx_dbcr_c	= 'C'
	set		@out_qty	= 0

	
	-- looping untuk seluruh item di Mutation yang tipe nya INVENTORY
	declare	c_item cursor for
	select	imd.im_code
			,imd.item_code
			,imd.quantity
			,imd.remarks
			,imh.branch_code
			,imh.mutation_date
			,imh.from_location
			,imh.to_location
			,ISNULL(imh.from_lot,'')
			,ISNULL(imh.from_rak,'')
			,ISNULL(imh.from_slot,'')
			,ISNULL(imh.to_lot,'')
			,ISNULL(imh.to_rak,'')
			,ISNULL(imh.to_slot,'')
			,imh.code
	from	dbo.inventory_mutation_detail imd
			inner join dbo.master_item mi on (mi.item_code = imd.item_code)
			inner join dbo.inventory_mutation_header imh on (imh.code_barcode = imd.im_code)		
	where	imd.im_code		= @p_code_barcode
	and		(mi.jenis_item = 'IT' or mi.jenis_item = 'IC')
	
	open	c_item
	fetch	c_item
	into	@trx_code
			,@item_code
			,@quantity
			,@description
			,@branch_code
			,@trx_date	
			,@from_location
			,@to_location
			,@from_lot_code
			,@from_rak_code
			,@from_slot_code
			,@to_lot_code
			,@to_rak_code
			,@to_slot_code
			,@trx_code_real
		
	while	@@fetch_status = 0
	BEGIN
	
		IF @from_location is NULL OR @from_location = '-' OR @from_location = '--'
		 begin	
			raiserror ('From Location Harap Diisi',16,1)
			return 0;
		 END

		 IF @to_location IS null OR @to_location = '-' OR @to_location = '--'
		 begin	
			raiserror ('To Location Harap Diisi',16,1)
			return 0;
		 END

		 IF @to_location = @from_location
		 begin	
			raiserror ('From dan To Location Tidak Boleh Sama',16,1)
			return 0;
		 END
   
	SELECT @storage_control_from = STORAGE_CONTROL
	FROM dbo.MASTER_LOCATION
	WHERE CODE = @to_location
	
	if(@storage_control_to = 'Y')
	BEGIN
		 IF @to_lot_code = '' OR @to_lot_code = '-' OR @to_lot_code = '--'
		 begin	
			raiserror ('TO Lot Code Harap Diisi',16,1)
			return
		 END
         
		 IF @to_rak_code = '' OR @to_rak_code = '-' OR @to_rak_code = '--'
		 begin	
			raiserror ('TO Rak Code Harap Diisi',16,1)
			return 0;
		set @p_is_flag = '1' 
		 END
         
		 IF @to_slot_code = '' OR @to_slot_code = '-' OR @to_slot_code = '--'
		 begin	
			raiserror ('TO Slot Code Harap Diisi',16,1)
			return 0;
		set @p_is_flag = '1' 
		 END
      end	
         
	SELECT @storage_control_from = STORAGE_CONTROL
	FROM dbo.MASTER_LOCATION
	WHERE CODE = @from_location

	if(@storage_control_from = 'Y')
	BEGIN

		 IF @from_lot_code = '' OR @from_lot_code = '-' OR @from_lot_code = '--'
		 begin	
			raiserror ('From Lot Code Harap Diisi',16,1)
			return 0;
		set @p_is_flag = '1' 
		 END
         
		 IF @from_rak_code = '' OR @from_rak_code = '-' OR @from_rak_code = '--'
		 begin	
			raiserror ('From Rak Code Harap Diisi',16,1)
			return 0;
		set @p_is_flag = '1' 
		 END
         
		 IF @from_slot_code = '' OR @from_slot_code = '-' OR @from_slot_code = '--'
		 begin	
			raiserror ('From Slot Code Harap Diisi',16,1)
			return 0;
		set @p_is_flag = '1' 
		 END
      end  	
		
		/*setting period*/		
		fetch	c_item
		into	@trx_code
				,@item_code
				,@quantity
				,@description
				,@branch_code
				,@trx_date	
				,@from_location
				,@to_location
				,@from_lot_code
				,@from_rak_code
				,@from_slot_code
				,@to_lot_code
				,@to_rak_code
				,@to_slot_code
				,@trx_code_real
	end
			
	close		c_item
	deallocate	c_item
			

	
end

