ALTER PROCEDURE [dbo].[xsp_inventory_mutation_header_getrows]
(
	@p_keywords			nvarchar(50)
	,@p_status			nvarchar(20)
	,@p_cre_by			nvarchar(15)
	,@p_branch_code		nvarchar(10)

)as
begin

	if ( @p_status = 'ALL')	
	begin
		select	im.code_barcode
				,im.code
				,im.mutation_date
				,mgs.description			'trans_flag_desc'
				,mb1.DESCRIPTION	'to_branch'
				,mb.description  'FROM_BRANCH'
		from	inventory_mutation_header im
				left join master_general_subcode	mgs		on (im.trans_flag_code		= mgs.code)
				LEFT JOIN dbo.MASTER_BRANCH mb				ON (mb.CODE = im.BRANCH_CODE)
				LEFT JOIN dbo.MASTER_BRANCH mb1				ON (mb1.CODE = im.TO_BRANCH)
		where	im.BRANCH_CODE	= @p_branch_code
		AND		(
						im.code												like '%'+ @p_keywords +'%'
						or	im.CODE_BARCODE												like '%'+ @p_keywords +'%'
					or	im.expedition_description							like '%'+ @p_keywords +'%'
					or	im.remarks											like '%'+ @p_keywords +'%'
					or	convert(nvarchar(20), im.mutation_date, 103)		like '%'+ @p_keywords +'%'
					or	mgs.description										like '%'+ @p_keywords +'%'
					or	mb.description										like '%'+ @p_keywords +'%'
					or	mb1.description										like '%'+ @p_keywords +'%'
				)

		order by 
				im.code desc,mutation_date desc
	end
	else
	begin
		select	im.code_barcode
				,im.code
				,im.mutation_date
				,mgs.description			'trans_flag_desc'
				,mb1.DESCRIPTION	'to_branch'
				,mb.description		'FROM_BRANCH'
		from	inventory_mutation_header im
				left join master_general_subcode	mgs		on (im.trans_flag_code		= mgs.code)
				LEFT JOIN dbo.MASTER_BRANCH mb				ON (mb.CODE = im.BRANCH_CODE)
				LEFT JOIN dbo.MASTER_BRANCH mb1				ON (mb1.CODE = im.TO_BRANCH)
		where	mgs.code = @p_status
		AND		im.BRANCH_CODE	= @p_branch_code
		AND		(
						im.code												like '%'+ @p_keywords +'%'
					or	im.CODE_BARCODE												like '%'+ @p_keywords +'%'
					or	im.expedition_description							like '%'+ @p_keywords +'%'
					or	im.remarks											like '%'+ @p_keywords +'%'
					or	convert(nvarchar(20), im.mutation_date, 103)		like '%'+ @p_keywords +'%'
					or	mgs.description										like '%'+ @p_keywords +'%'
					or	mb.description										like '%'+ @p_keywords +'%'
					or	mb1.description										like '%'+ @p_keywords +'%'
				)

		order by 
				im.code desc,mutation_date desc
	end
end
