ALTER PROCEDURE [dbo].[xsp_inventory_card_insert]
(	
	@p_id					int output
	,@p_branch_code			nvarchar(10)	
	,@p_trx_code			nvarchar(20)	
	,@p_doc_no				nvarchar(50)
	,@p_trx_date			datetime	
	,@p_trx_type			nvarchar(5)	
	,@p_item_code			nvarchar(10)	
	,@p_location_code		nvarchar(20)	
	,@p_trx_dbcr			nvarchar(1)
	,@p_quantity			decimal(18,2)	
	,@p_out_qty				decimal(18,2)
	,@p_onhand_qty			decimal(18,2)
	,@p_unit_price			decimal(18,2)
	,@p_available_out_qty	decimal(18,2)
	,@p_description			nvarchar(200)	
	,@p_cre_date			datetime	
	,@p_cre_by				nvarchar(15)	
	,@p_cre_ip_address		nvarchar(15)	
	,@p_mod_date			datetime	
	,@p_mod_by				nvarchar(15)	
	,@p_mod_ip_address		nvarchar(15)	
	,@p_lot_code			nvarchar(10) = ''
	,@p_rak_code			nvarchar(10) = ''
	,@p_slot_code			nvarchar(10) = ''
	,@p_trx_period			nvarchar(6)	
	,@p_fee_amount			decimal(18,2) = 0		
	,@p_currency_code		nvarchar(3)	
	,@p_orig_amount			decimal(18,2)
	,@p_exch_rate			decimal(18,2)
	,@p_fee_orig_amount		decimal(18,2)
	,@p_hpp_amount			decimal(18,2)
)as
begin
	declare	@max_qty		decimal(18,2)
			,@min_qty		decimal(18,2)
			,@max_qty_item	decimal(18,2)
			,@min_qty_item	decimal(18,2)
			,@available_out	DECIMAL(18,2)
			,@item_name		NVARCHAR(50)
	
	if (@p_trx_dbcr = 'D')
	begin
		
		if (@p_lot_code = '' and @p_rak_code = '' and @p_slot_code = '')
		begin
			
			
			if not exists	(	select	1 
								from	dbo.master_location_item 
								where	warehouse_code	= @p_location_code  
								and		item_code		= @p_item_code
							)
			begin
				--raiserror('This item is not yet registered in this warehouse',11,1);
				--return 0;	

				-- ===== Iproc Phase III =====
				--20260107 : Remove validation and insert if item didn't exist in master_location
				exec dbo.xsp_master_location_item_insert
						0
						,@p_location_code
						,''
						,''
						,''
						,@p_item_code
						,0
						,999999
						,0
						,@p_cre_date
						,@p_cre_by
						,@p_cre_ip_address
						,@p_mod_date
						,@p_mod_by
						,@p_mod_ip_address
			end     
			else
			begin
            

				select	@max_qty_item = maximum_qty 
				from	dbo.master_location_item mli
				where	warehouse_code = @p_location_code
				and		mli.item_code	= @p_item_code
				--PRINT 'BFI'
				--	PRINT @max_qty_item 
				--	PRINT @p_onhand_qty
				if (@max_qty_item < @p_onhand_qty)
				begin
					raiserror('Already Exceeds Maximum qty in Warehouse by Item',11,1);
					return 0;	
				end  
			
			end     
		end 
		else if (@p_lot_code <> '' and @p_rak_code = '' and @p_slot_code = '')
		begin 
			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
									from	dbo.master_location_item mi
											inner join dbo.master_location ml on (mi.warehouse_code = ml.code)
									where	ml.storage_control = 'Y'
									and		item_code		= @p_item_code
									and		warehouse_code	= @p_location_code  
									and		lot_code		= @p_lot_code
								)
				begin
					raiserror('This item is not yet registered in this warehouse Lot',11,1);
					return 0;	
				end 
				else
				begin
            
					select	@max_qty_item	= mli.maximum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					
					if (@max_qty_item < @p_onhand_qty)
					begin
						raiserror('Already Exceeds Maximum qty in Warehouse Lot by Item',11,1);
						return 0;	
					end  
			
				end  
			end     
		end 
		else if (@p_lot_code <> '' and @p_rak_code <> '' and @p_slot_code = '')
		begin
			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
									from	dbo.master_location_item mli
											inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
									where	ml.storage_control = 'Y'
									and		item_code		= @p_item_code
									and		warehouse_code	= @p_location_code  
									and		lot_code		= @p_lot_code
									and		rak_code		= @p_rak_code
								)
				begin
					raiserror('This item is not yet registered in this warehouse Rak',11,1);
					return 0;	
				end  
				else
				begin
            
					select	@max_qty_item	= mli.maximum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					and		rak_code		= @p_rak_code
					
					if (@max_qty_item < @p_onhand_qty)
					begin
						raiserror('Already Exceeds Maximum qty in Warehouse Rak by Item5',11,1);
						return 0;	
					end  
			
				end  
			end 
		end
		else if (@p_lot_code <> '' and @p_rak_code <> '' and @p_slot_code <> '')
		begin
			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
									from	dbo.master_location_item mli
											inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
									where	ml.storage_control = 'Y'
									and		item_code		= @p_item_code
									and		warehouse_code	= @p_location_code  
									and		lot_code		= @p_lot_code
									and		rak_code		= @p_rak_code
									and		slot_code		= @p_slot_code
								)
				begin
					raiserror('This item is not yet registered in this warehouse Rak',11,1);
					return 0;	
				end 
				else
				begin
            
					select	@max_qty_item	= mli.maximum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					and		rak_code		= @p_rak_code
					and		slot_code		= @p_slot_code

					
					if (@max_qty_item < @p_onhand_qty)
					begin
						raiserror('Already Exceeds Maximum qty in Warehouse Slot by Item4',11,1);
						return 0;	
					end  
			
				end 
			end
		end 
			
	end
	else
	begin
				  
		if (@p_lot_code = '' and @p_rak_code = '' and @p_slot_code = '')
		begin			
			if not exists	(	select	1 
								from	dbo.master_location_item 
								where	warehouse_code	= @p_location_code 
								and		item_code		= @p_item_code 
							)
			begin
				raiserror('This item is not yet registered in this warehouse',11,1);
				return 0;	
			end  
			else
			begin
            
				select	@min_qty_item	= minimum_qty 
				from	dbo.master_location_item mli
				where	warehouse_code	= @p_location_code
				and		mli.item_code	= @p_item_code

				SELECT @item_name  = ITEM_NAME
				FROM dbo.MASTER_ITEM 
				WHERE ITEM_CODE = @p_item_code
				
				if (@min_qty_item > @p_onhand_qty)
				BEGIN
					RAISERROR('Already Exceeds Minimum qty in Warehouse by Item3',11,1);
					return 0;	
				end  
			
			end 
		end 
		else if (@p_lot_code <> '' and @p_rak_code = '' and @p_slot_code = '')
		begin
			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
									from	dbo.master_location_item mli
											inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
									where	ml.storage_control = 'Y'
									and		item_code		= @p_item_code
									and		warehouse_code	= @p_location_code  
									and		(lot_code		= @p_lot_code OR @p_lot_code = '')
								)
				begin
					raiserror('This item is not yet registered in this warehouse Lot',11,1);
					return 0;	
				end  
				else
				begin            
					select	@min_qty_item	= mli.minimum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					
					SELECT @item_name  = ITEM_CODE
					FROM dbo.MASTER_ITEM 
					WHERE ITEM_CODE = @p_item_code
					
					if (@min_qty_item > @p_onhand_qty)
					BEGIN
                    PRINT @item_name
						raiserror('Already Exceeds Minimum qty in Warehouse Lot by Item2',11,1);
						return 0;	
					end  
			
				end 
			end
		end 
		else if (@p_lot_code <> '' and @p_rak_code <> '' and @p_slot_code = '')
		begin 

			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
									from	dbo.master_location_item mli
											inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
									where	ml.storage_control = 'Y'
									and		item_code		= @p_item_code
									and		warehouse_code	= @p_location_code  
									and		(lot_code		= @p_lot_code OR @p_lot_code = '')
									and		(rak_code		= @p_rak_code OR @p_rak_code = '')
								)
				begin
					raiserror('This item is not yet registered in this warehouse Rak',11,1);
					return 0;	
				end
				else
				begin            
					select	@min_qty_item	= mli.minimum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					and		rak_code		= @p_rak_code

					SELECT @item_name  = ITEM_NAME
					FROM dbo.MASTER_ITEM 
					WHERE ITEM_CODE = @p_item_code

					if (@min_qty_item > @p_onhand_qty)
					BEGIN
						RAISERROR('Already Exceeds Minimum qty in Warehouse Rak by Item',11,1);
						return 0;	
					end  
			
				end  
			end
		end
		else if (@p_lot_code <> '' and @p_rak_code <> '' and @p_slot_code <> '')
		begin			  
			if exists (	select	1 
						from	dbo.master_location 
						where	code = @p_location_code 
						and		storage_control = 'Y')
			begin
				if not exists	(	select	1 
								from	dbo.master_location_item mli
								inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
								where	ml.storage_control = 'Y'
								and		item_code		= @p_item_code
								and		warehouse_code	= @p_location_code  
								and		(lot_code		= @p_lot_code OR @p_lot_code = '')
								and		(rak_code		= @p_rak_code OR @p_rak_code = '')
								and		(slot_code		= @p_slot_code OR @p_rak_code = '')
							)
				begin
					raiserror('This item is not yet registered in this warehouse Slot',11,1);
					return 0;	
				end 
				else
				begin
            
					select	@min_qty_item	= mli.minimum_qty 
					from	dbo.master_location_item mli
							inner join dbo.master_location ml on (mli.warehouse_code = ml.code)
					where	ml.storage_control = 'Y'
					and		mli.item_code	= @p_item_code
					and		warehouse_code	= @p_location_code
					and		lot_code		= @p_lot_code
					and		rak_code		= @p_rak_code
					and		slot_code		= @p_slot_code

					SELECT @item_name  = ITEM_NAME
					FROM dbo.MASTER_ITEM 
					WHERE ITEM_CODE = @p_item_code

					if (@min_qty_item > @p_onhand_qty)
					BEGIN
						RAISERROR('Already Exceeds Minimum qty in Warehouse Slot by Item1',11,1);
						return 0;	
					end  
			
				end 
			end

		end

	end  

	

	insert into inventory_card
	(					
		branch_code			
		,trx_code		
		,document_no	
		,trx_date		
		,trx_type		
		,item_code			
		,location_code		
		,trx_dbcr		
		,quantity		
		,out_qty	
		,onhand_qty	
		,unit_price	
		,available_out_qty
		,description			
		,cre_date			
		,cre_by				
		,cre_ip_address		
		,mod_date			
		,mod_by				
		,mod_ip_address	
		,lot_code
		,rak_code
		,slot_code
		,trx_period
		,fee_amount
		,currency_code
		,orig_amount
		,exch_rate	
		,fee_orig_amount
		,hpp_amount
	)
	values
	(
		@p_branch_code		
		,@p_trx_code
		,@p_doc_no	
		,@p_trx_date		
		,@p_trx_type		
		,@p_item_code			
		,@p_location_code	
		,@p_trx_dbcr		
		,@p_quantity		
		,@p_out_qty	
		,@p_onhand_qty	
		,@p_unit_price		
		,@p_available_out_qty
		,@p_description			
		,@p_cre_date			
		,@p_cre_by				
		,@p_cre_ip_address		
		,@p_mod_date			
		,@p_mod_by				
		,@p_mod_ip_address	
		--------------------
		,@p_lot_code
		,@p_rak_code
		,@p_slot_code
		,@p_trx_period	
		,@p_fee_amount	
		,@p_currency_code
		,@p_orig_amount
		,@p_exch_rate
		,@p_fee_orig_amount
		,@p_hpp_amount
	)
	set @p_id = @@identity

end


