CREATE PROCEDURE [dbo].[xsp_fa_mutation_upload_bulk_process] (
	@p_upload_id UNIQUEIDENTIFIER,
	@p_cre_by NVARCHAR(50),
	@p_cre_ip_address NVARCHAR(50),
	@p_file_name NVARCHAR(255) = '',
	@p_department_code NVARCHAR(20),
	@p_division_code NVARCHAR(20),
	@p_units_code NVARCHAR(100),
	@p_sub_department_code NVARCHAR(100))
AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @now DATETIME = GETDATE()

  CREATE TABLE #staging (
    upload_id UNIQUEIDENTIFIER
   ,row_number INT
   ,from_cost_center NVARCHAR(50) COLLATE database_default
   ,from_location NVARCHAR(50) COLLATE database_default
   ,to_cost_center NVARCHAR(50) COLLATE database_default
   ,to_location NVARCHAR(50) COLLATE database_default
   ,owner NVARCHAR(50) COLLATE database_default
   ,asset_code NVARCHAR(50) COLLATE database_default
   ,description NVARCHAR(255) COLLATE database_default
   ,error_message NVARCHAR(500) COLLATE database_default
   ,process_flag CHAR(1) COLLATE database_default
   ,process_date DATETIME
  )

  INSERT INTO #staging
    SELECT
      upload_id
     ,row_number
     ,LTRIM(RTRIM(from_cost_center))
     ,LTRIM(RTRIM(from_location))
     ,LTRIM(RTRIM(to_cost_center))
     ,LTRIM(RTRIM(to_location))
     ,LTRIM(RTRIM(owner))
     ,LTRIM(RTRIM(asset_code))
     ,description
     ,error_message
     ,process_flag
     ,process_date
    FROM fa_mutation_upload_staging
    WHERE upload_id = @p_upload_id
    AND process_flag IS NULL


  CREATE TABLE #all_error (
    row_number INT
   ,priority INT
   ,error_message NVARCHAR(500) COLLATE database_default
  )

  --validasi field wajib
  INSERT INTO #all_error
    SELECT
      row_number
     ,1
     ,'From Branch is required.'
    FROM #staging
    WHERE ISNULL(from_cost_center, '') = ''

    UNION ALL
    SELECT
      s.row_number
     ,2
     ,'Invalid from Branch. The Branch does not exist or the Branch is inactive.'
    FROM #staging s
    LEFT JOIN MASTER_BRANCH mb ON mb.CODE = s.from_cost_center
                              AND ISNULL(mb.IS_ACTIVE, '0') = '1'
    WHERE ISNULL(s.from_cost_center, '') <> ''
    AND mb.CODE IS NULL

    UNION ALL
    SELECT
      row_number
     ,3
     ,'From Location is required.'
    FROM #staging
    WHERE ISNULL(from_location, '') = ''

    UNION ALL
    SELECT
      s.row_number
     ,4
     ,'Invalid from Location. The Branch does not exist or the Location is inactive.'
    FROM #staging s
    LEFT JOIN FA_LOCATION ml ON ml.LOC_CODE = s.from_location
                                AND ml.BRANCH_CODE = s.from_cost_center
    WHERE ISNULL(s.from_location, '') <> ''
    AND ml.LOC_CODE IS NULL

    UNION ALL
    SELECT
      row_number
     ,5
     ,'To Branch is required.'
    FROM #staging
    WHERE ISNULL(to_cost_center, '') = ''

    UNION ALL
    SELECT
      s.row_number
     ,6
     ,'Invalid To Branch. The Branch does not exist or the Branch is inactive.'
    FROM #staging s
    LEFT JOIN MASTER_BRANCH mb ON mb.CODE = s.to_cost_center
                              AND ISNULL(mb.IS_ACTIVE, '0') = '1'
    WHERE ISNULL(s.to_cost_center, '') <> ''
    AND mb.CODE IS NULL

    UNION ALL
    SELECT
      row_number
     ,7
     ,'To Location is Required.'
    FROM #staging
    WHERE ISNULL(to_location, '') = ''

    UNION ALL
    SELECT
      s.row_number
     ,8
     ,'Invalid to Location. The Branch does not exist or the Location is inactive.'
    FROM #staging s
    LEFT JOIN FA_LOCATION ml ON ml.LOC_CODE = s.to_location
                                AND ml.BRANCH_CODE = s.to_cost_center
    WHERE ISNULL(s.to_location, '') <> ''
    AND ml.LOC_CODE IS NULL

    UNION ALL
    SELECT
      row_number
     ,9
     ,'from Branch and Location cannot be the same as To Branch and Location.'
    FROM #staging
    WHERE ISNULL(from_cost_center, '') <> ''
    AND ISNULL(from_location, '') <> ''
    AND ISNULL(to_cost_center, '') <> ''
    AND ISNULL(to_location, '') <> ''
    AND from_cost_center = to_cost_center
    AND from_location = to_location

    UNION ALL
    SELECT
      row_number
     ,10
     ,'Owner is required.'
    FROM #staging
    WHERE ISNULL(owner, '') = ''

    UNION ALL
    SELECT
      row_number
     ,11
     ,'Owner is invalid.'
    FROM #staging
    WHERE owner LIKE '%[^a-zA-Z0-9]%'

    UNION ALL
    SELECT
      row_number
     ,12
     ,'Asset Code is required.'
    FROM #staging
    WHERE ISNULL(asset_code, '') = ''

    UNION ALL
    SELECT
      s.row_number
     ,13
     ,'Invalid Asset Code.'
    FROM #staging s
    LEFT JOIN FA_ASSET fa ON fa.BARCODE COLLATE database_default = s.asset_code
    WHERE ISNULL(s.asset_code, '') <> ''
    AND fa.BARCODE IS NULL

    UNION ALL
    SELECT
      s.row_number
     ,14
     ,'Asset status must be Available.'
    FROM #staging s
    JOIN FA_ASSET fa ON fa.BARCODE COLLATE database_default = s.asset_code
    WHERE fa.TRANS_FLAG_CODE <> 'available'

  -- 4. validasi sale
  INSERT INTO #all_error
    SELECT
      s.row_number
     ,15
     ,'Asset is currently being processed for Sale (code_barcode: ' + fsh.code_barcode + ')'
    FROM #staging s
    JOIN FA_SALE_DETAIL fsd
      ON fsd.BARCODE COLLATE database_default = s.asset_code
    JOIN FA_SALE_HEADER fsh
      ON fsh.code_barcode = fsd.FA_SALE_CODE
    WHERE fsh.TRANS_FLAG_CODE <> 'CANCEL'--IN ('new', 'onprogress')

  -- 5. validasi disposal
  INSERT INTO #all_error
    SELECT
      s.row_number
     ,16
     ,'Asset is currently being processed for Disposal (code_barcode: ' + fdh.code_barcode + ')'
    FROM #staging s
    JOIN FA_DISPOSAL_DETAIL fdd
      ON fdd.BARCODE COLLATE database_default = s.asset_code
    JOIN FA_DISPOSAL_HEADER fdh
      ON fdh.code_barcode = fdd.FA_DISPOSAL_CODE
    WHERE fdh.TRANS_FLAG_CODE <> 'CANCEL'--IN ('new', 'onprogress')

  -- 6. validasi mutation
  INSERT INTO #all_error
    SELECT
      s.row_number
     ,17
     ,'Asset is currently being processed for Mutation (code_barcode: ' + farh.code_barcode + ')'
    FROM #staging s
    JOIN FA_REQUEST_MUTATION_DETAIL farm
      ON farm.ITEM_CODE COLLATE database_default = s.asset_code
    JOIN FA_REQUEST_MUTATION_HEADER farh
      ON farh.code_barcode = farm.IR_CODE
    WHERE farm.STATUS_RECEIVED IN ('sent', 'returned')
    OR farm.STATUS_RECEIVED IS NULL

  -- validasi invalid location
  INSERT INTO #all_error
    SELECT
      s.row_number
     ,18
     ,'Asset '+s.asset_code +' is not located at: ' + s.from_location
    FROM #staging s
    JOIN fa_asset fa
      ON fa.BARCODE COLLATE database_default = s.asset_code
    WHERE fa.CURRENT_BRANCH <> s.from_location

 -- validasi owner
	INSERT INTO #all_error
    SELECT
      s.row_number
     ,19
     ,'Asset '+s.asset_code +' does not belong to owner: ' + s.owner
    FROM #staging s
    left JOIN master_units mus
      ON mus.code = s.owner and mus.is_active= 1 and mus.is_owner = 1
    WHERE mus.code IS NULL

  -- update staging error
  ;WITH FirstError AS (
    SELECT
      row_number
     ,error_message
     ,ROW_NUMBER() OVER (PARTITION BY row_number ORDER BY priority, error_message) AS rn
    FROM #all_error
  )
  UPDATE s
  SET process_flag = 'e'
     ,error_message = e.error_message
     ,process_date = @now
  FROM fa_mutation_upload_staging s
  JOIN FirstError e ON e.row_number = s.row_number
                   AND e.rn = 1
  WHERE s.upload_id = @p_upload_id
  AND s.process_flag IS NULL

  UPDATE fa_mutation_upload_staging
    SET process_flag = 's'
    WHERE upload_id = @p_upload_id AND process_flag IS NULL;

  -- data valid
  CREATE TABLE #valid (
    row_number INT
   ,from_cost_center NVARCHAR(50)
   ,from_location NVARCHAR(50)
   ,to_cost_center NVARCHAR(50)
   ,to_location NVARCHAR(50)
   ,owner NVARCHAR(50)
   ,asset_code NVARCHAR(50)
   ,description NVARCHAR(255)
  )

  INSERT INTO #valid
    SELECT
      v.row_number
     ,v.from_cost_center
     ,v.from_location
     ,v.to_cost_center
     ,v.to_location
     ,v.owner
     ,v.asset_code
     ,v.description
    FROM #staging v
    JOIN fa_mutation_upload_staging s
      ON s.upload_id = @p_upload_id
     AND s.row_number = v.row_number
     AND s.process_flag = 's'

  -- create header group
  CREATE TABLE #header_group (
    rn INT IDENTITY (1, 1)
   ,from_cost_center NVARCHAR(50)
   ,from_location NVARCHAR(50)
   ,to_cost_center NVARCHAR(50)
   ,to_location NVARCHAR(50)
   ,owner NVARCHAR(50)
  )

  INSERT INTO #header_group
    SELECT
      from_cost_center
     ,from_location
     ,to_cost_center
     ,to_location
     ,owner
    FROM #valid
    GROUP BY from_cost_center
            ,from_location
            ,to_cost_center
            ,to_location
            ,owner

  CREATE TABLE #header (
    rn INT
   ,code_barcode NVARCHAR(14)
   ,code NVARCHAR(18)
   ,from_cost_center NVARCHAR(50)
   ,from_location NVARCHAR(50)
   ,to_cost_center NVARCHAR(50)
   ,to_location NVARCHAR(50)
   ,owner NVARCHAR(50)
  )

  DECLARE @yy NVARCHAR(2)
         ,@mm NVARCHAR(2)
         ,@last_run INT

  SET @yy = RIGHT(CAST(YEAR(@now) AS NVARCHAR), 2)
  SET @mm = RIGHT('0' + CAST(MONTH(@now) AS NVARCHAR), 2)

  SELECT
    @last_run = ISNULL(MAX(CAST(SUBSTRING(code_barcode, 10, 5) AS INT)), 0)
  FROM FA_REQUEST_MUTATION_HEADER
  WHERE SUBSTRING(code_barcode, 6, 2) = @yy
  AND SUBSTRING(code_barcode, 8, 2) = @mm


  INSERT INTO #header
    SELECT
      g.rn
     ,g.from_cost_center + '40' + @yy + @mm +
      RIGHT('00000' + CAST(@last_run + ROW_NUMBER() OVER (ORDER BY g.rn) AS VARCHAR), 5)
     ,g.from_cost_center + '/FR/' + @yy + '/' + @mm + '/' +
      RIGHT('00000' + CAST(@last_run + ROW_NUMBER() OVER (ORDER BY g.rn) AS VARCHAR), 5)
     ,g.from_cost_center
     ,g.from_location
     ,g.to_cost_center
     ,g.to_location
     ,g.owner

    FROM #header_group g

  INSERT INTO FA_REQUEST_MUTATION_HEADER (code_barcode,
  code,
  REQUEST_DATE,
  DEPARTMENT_CODE,
  REQUESTOR,
  REMARKS,
  TRANS_FLAG_CODE,
  FLAG_PROCESS,
  CRE_DATE,
  CRE_BY,
  CRE_IP_ADDRESS,
  MOD_DATE,
  MOD_BY,
  MOD_IP_ADDRESS,
  BRANCH_CODE,
  DIVISION_CODE,
  UNITS_CODE,
  SUB_DEPARTMENT_CODE,
  FROM_LOCATION_CODE,
  TO_LOCATION_CODE,
  to_cost_center,
  owner)
    SELECT
      h.code_barcode
     ,h.code
     ,@now
     ,@p_department_code
     ,@p_cre_by
     ,'bulk upload mutation'
     ,'NEW'
     ,'UPL'
     ,@now
     ,@p_cre_by
     ,@p_cre_ip_address
     ,@now
     ,@p_cre_by
     ,@p_cre_ip_address
     ,h.from_cost_center
     ,@p_division_code
     ,@p_units_code
     ,@p_sub_department_code
     ,h.from_location
     ,h.to_location
     ,h.to_cost_center
     ,h.owner
    FROM #header h


  INSERT INTO FA_REQUEST_MUTATION_DETAIL (IR_CODE,
  ITEM_CODE,
  ITEM_DESCRIPTION,
  BRANCH_CODE,
  CRE_DATE,
  CRE_BY,
  CRE_IP_ADDRESS,
  MOD_DATE,
  MOD_BY,
  MOD_IP_ADDRESS,
  LOCATION_CODE,
  TO_BRANCH_CODE,
  TO_LOCATION_CODE)
    SELECT
      h.code_barcode
     ,v.asset_code
     ,UPPER(v.description)
     ,v.from_cost_center
     ,@now
     ,@p_cre_by
     ,@p_cre_ip_address
     ,@now
     ,@p_cre_by
     ,@p_cre_ip_address
     ,v.from_location
     ,v.to_cost_center
     ,v.to_location
    FROM #valid v
    JOIN #header h
      ON v.from_cost_center = h.from_cost_center
        AND v.from_location = h.from_location
        AND v.to_cost_center = h.to_cost_center
        AND v.to_location = h.to_location
        AND v.owner = h.owner


  -- update success
  UPDATE fa_mutation_upload_staging
  SET process_date = @now
  WHERE upload_id = @p_upload_id
  AND process_flag = 's'

END