ALTER PROCEDURE [dbo].[xsp_fa_request_mutation_header_getrow]
(
	@p_code_barcode			nvarchar(14)
) as
begin

	SELECT DISTINCT	mrh.code_barcode
			,mrh.code
			,mrh.requestor
			,mrh.request_date
			,mrh.trans_flag_code
			,mrh.remarks
			,mrh.cre_by
			,mrh.cre_date
			,mrh.mod_by
			,mrh.mod_date
			--
			,em2.emp_name		'emp_desc'
			--
			,ISNULL(mgs.description,mrh.TRANS_FLAG_CODE)	'trans_flag_desc'
			,mrh.department_code
			,em.emp_name		'requestor_desc'
			--------------------------------------
			,mrh.branch_code
			,mb.description 'branch_name'
			,mrh.division_code
			,mrh.units_code
			,mrh.sub_department_code
			,mrh.to_location_code
			--,fa.BRANCH_CODE 'from_cost_center'
			,mrh.to_cost_center
			,UPPER(mrh.REMARK_UNPOST) 'remark_unpost'

			--
			
			,mrh.FROM_LOCATION_CODE
			,mrh.OWNER
			,mrh.BRANCH_REQ
			,art.id				'approval_request_target_id'
			,(	select	isnull(sum(mi.expense_latest_cost),0)
				from	dbo.FA_REQUEST_MUTATION_HEADER prd
						LEFT JOIN dbo.FA_REQUEST_MUTATION_DETAIL fmd ON (fmd.IR_CODE = prd.CODE_BARCODE)
						LEFT JOIN dbo.FA_ASSET fa ON (fa.BARCODE = fmd.ITEM_CODE)
						inner join dbo.master_item mi on (fa.AST_CODE = mi.item_code)
				where	prd.CODE_BARCODE = @p_code_barcode) 'object_amount'
			,case when (mrh.flag_process)='UPL' then 'UPLOAD'
				else 'MANUAL'
			end  'PROCESS'
	from	fa_request_mutation_header mrh
			left join dbo.master_branch				mb	on (mrh.branch_code = mb.code)
			left join master_general_subcode		mgs on (mrh.trans_flag_code = mgs.code)
			left join employee_main					em	on (mrh.requestor = em.emp_code)
			left join employee_main					em2	on (mrh.mod_by = em2.emp_code)
			left join dbo.master_units				mu  on (mrh.units_code = mu.code)
			left join dbo.approval_request ar on (ar.object_id = mrh.code_barcode)
			left join dbo.approval_request_target art on (art.ar_id = ar.id)
		
	where	code_barcode	= @p_code_barcode
	
end


