ALTER PROCEDURE [dbo].[xsp_fa_request_mutation_header_getrows]
(
	@p_keywords			nvarchar(50)
	,@p_status			nvarchar(20)
	,@p_cre_by			nvarchar(15)
	,@p_branch_code		nvarchar(10)
	,@p_process			nvarchar(100)
)as
begin
	if ( @p_status = 'ALL')
	begin
		select	irh.code
				,irh.code_barcode
				,irh.request_date
				,irh.remarks
				,CASE WHEN ISNULL(mgs.description,'') ='' THEN 'RETURNED' ELSE mgs.description end	'trans_flag_desc'
				,em.emp_name
				,md.description		'department_name'
				,irh.branch_code
				,mb.description 'branch_name'
				,mb2.description 'branch_name_to'
				,irh.division_code
				,mdi.description 'division_name'
				,(case when irh.FLAG_PROCESS = 'UPL' then 'UPLOAD' else 'MANUAL' end) 'process'
		from	fa_request_mutation_header irh
				left join	dbo.master_department	md	on (irh.department_code = md.code)
				left join	dbo.master_branch		mb	on (irh.branch_code = mb.code)
				left join	dbo.master_branch		mb2	on (irh.TO_COST_CENTER = mb2.code)
				left join	dbo.master_division		mdi	on (irh.division_code = mdi.code)
				left join	master_general_subcode	mgs on (irh.trans_flag_code = mgs.code)
				left join	employee_main			em	on (irh.requestor = em.emp_code)
		where	--irh.cre_by in (select emp_code from dbo.fn_emp_main_report_to(@p_cre_by))	-- [+] Fajar 05/04/2016 13:45 Purpose :		report to 	
				(irh.BRANCH_CODE = @p_branch_code or @p_branch_code = 'ALL')
		and		(isnull(irh.FLAG_PROCESS,'') = @p_process or @p_process='ALL')
		and		(isnull(irh.FLAG_PROCESS,'') <> 'UPL' or irh.TRANS_FLAG_CODE <> 'NEW')
		and
			(	
					irh.code											like '%'+ @p_keywords +'%'
				or	convert(nvarchar(20), irh.request_date, 103)		like '%'+ @p_keywords +'%'
				or	md.description										like '%'+ @p_keywords +'%'
				or	em.emp_name											like '%'+ @p_keywords +'%'
				or	mdi.description										like '%'+ @p_keywords +'%'
				or	mgs.description										like '%'+ @p_keywords +'%'
				OR	mb.description										like '%'+ @p_keywords +'%'
				OR  irh.CODE_BARCODE									LIKE '%'+ @p_keywords +'%'
				OR  mb2.DESCRIPTION										LIKE '%'+ @p_keywords + '%'  ---- Arjun 25/10/2019 Request User
			)
		
		order by 
				irh.code desc,irh.request_date desc
	end
	else
	begin
			select	irh.code
				,irh.code_barcode
				,irh.request_date
				,irh.remarks
				,CASE WHEN ISNULL(mgs.description,'') ='' THEN 'RETURNED' ELSE mgs.DESCRIPTION end	'trans_flag_desc'
				,em.emp_name
				,md.description		'department_name'
				--------------------------------------
				,irh.branch_code
				,mb.description 'branch_name'
				,mb2.description 'branch_name_to'
				,irh.division_code
				,mdi.description 'division_name'
				,(case when irh.FLAG_PROCESS = 'UPL' then 'UPLOAD' else 'MANUAL' end) 'process'
		from	fa_request_mutation_header irh
				left join	dbo.master_department	md	on (irh.department_code = md.code)
				left join	dbo.master_branch		mb	on (irh.branch_code = mb.code)
				left join	dbo.master_branch		mb2	on (irh.TO_COST_CENTER = mb2.code)
				left join	dbo.master_division		mdi	on (irh.division_code = mdi.code)
				left join	master_general_subcode	mgs on (irh.trans_flag_code = mgs.code)
				left join	employee_main			em	on (irh.requestor = em.emp_code)
		where	( irh.BRANCH_CODE = @p_branch_code or @p_branch_code = 'ALL')
		and		(isnull(irh.FLAG_PROCESS,'') = @p_process or @p_process='ALL')			
		and		(isnull(irh.FLAG_PROCESS,'') <> 'UPL' or irh.TRANS_FLAG_CODE <> 'NEW')
		and		ISNULL(mgs.description,'RETURNED') = @p_status
		--AND		irh.cre_by in (select emp_code from dbo.fn_emp_main_report_to(@p_cre_by))	-- [+] Fajar 05/04/2016 13:45 Purpose :		report to 
		and		(	
					irh.code											like '%'+ @p_keywords +'%'
				or	convert(nvarchar(20), irh.request_date, 103)		like '%' + @p_keywords +'%'
				or	md.description										like '%'+ @p_keywords +'%'
				or	em.emp_name											like '%'+ @p_keywords +'%'
				or	mdi.description										like '%'+ @p_keywords +'%'
				or	mgs.description										like '%'+ @p_keywords +'%'
				or	mb.description										like '%'+ @p_keywords +'%'
				OR  irh.CODE_BARCODE									LIKE '%'+ @p_keywords +'%'
				OR  mb2.DESCRIPTION										LIKE '%'+ @p_keywords + '%'  ---- Arjun 25/10/2019 Request User
				)		
		order by 
				irh.code desc,irh.request_date desc
	end
end


