ALTER PROCEDURE [dbo].[xsp_ap_deposit_refund_header_status]
(
	@p_code_barcode							nvarchar(14)
	,@p_mod_by								nvarchar(15)
	,@p_mod_date							datetime
	,@p_mod_ip_address						nvarchar(15)	
	,@p_branch_code							nvarchar(5)
)as
BEGIN

	update	dbo.AP_DEPOSIT_REFUND_HEADER
	set		trans_flag_code	 = 'ONPROGRESS'
			,mod_date		 = @p_mod_date
			,mod_by			 = @p_mod_by
			,mod_ip_address	 = @p_mod_ip_address		
	where	code_barcode	 = @p_code_barcode

	
	
end

